header#header.navbar.flex-wrap
	.navbar-container.container-xxl
		.row.justify-content-between.align-items-center.flex-grow-1.gx-0.gx-ph-2
			.column-left.col-6.col-lg-3
				.row.align-items-center.gx-0
					.col-auto
						button.navbar-toggler(type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls='offcanvasNavbar')
							span.navbar-toggler-icon
								span &nbsp;
								span.visually-hidden Close nav
					.col
						a.navbar-brand(href='#')
							img(src='images/logo.svg', alt='NEWITTS', width='141' height='20')
			.column-center.col-auto.col-lg-6.px-0.px-lg-2
				.form-container.form-container-opener
					button.offcanvas-opener.border-0.bg-transparent.position-absolute.z-3.top-0.start-0.bottom-0.end-0(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasTopSearch' aria-controls='offcanvasTopSearch')
						span.visually-hidden Open search
					form.d-flex.position-relative.z-0(role='search')
						-var inputGroupMargin = ''
						-var placeholderSearchLeft = 'Search for products'
						-var searchHeaderId = '01'
						include ../templates/_search_icon_left
			.column-right.col-6.col-lg-3
				ul.nav-icons.navbar-nav.d-flex.flex-row.justify-content-end
					li.nav-item
						a.nav-link(href='#')
							<svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg><span class="name"> icon-user</span>
					li.nav-item
						a.nav-link(href='#')
							<svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg><span class="name"> icon-heart</span>
					li.nav-item
						a.nav-link(href='#')
							<svg class="icon icon-basket"><use xlink:href="#icon-basket"></use></svg><span class="name"> icon-basket</span>
							if badgeNavActive === true
								span.position-absolute.top-0.start-100.translate-middle.badge.rounded-circle.bg-danger.px-17
									| 2
									span.visually-hidden items in the basket

	if navbarShort === true
		.container-xxl.d-none.d-lg-block
			nav#navbarShort.navbar-short
				ul.navbar-nav.d-flex.flex-row
					li.nav-item
						a.nav-link(href='#') Sports
					li.nav-item
						a.nav-link.active(aria-current='page' href='#') Sports Brands
					li.nav-item
						a.nav-link(href='#') Play Equipment
					li.nav-item
						a.nav-link(href='#') Fitness
					li.nav-item
						a.nav-link(href='#') Clearance

	include ../components/_offcanvas_nav

	include ../components/_offcanvas_search



//- ul.dropdown-menu.dropdown-menu__second
//- 	each item in ['', '', '', '', '', '']
//- 		li
//- 			a.nav-link(href='#')= item