.accordion-to-tabs {
    .tab-pane {
        &.show {
            .collapse:not(.show),
            .collapse.show {
                @include media-breakpoint-up(lg) {
                    display: block !important;
                }
            }
        }

        &:not(.show) {
            @include media-breakpoint-down(lg) {
                opacity: 1;
            }
        }
    }

    .collapse {
        &.show {
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
}

.accordion-to-tabs-md {
    .tab-pane {
        &.show {
            .collapse:not(.show),
            .collapse.show {
                @include media-breakpoint-up(md) {
                    display: block !important;
                }
            }
        }

        &:not(.show) {
            @include media-breakpoint-down(md) {
                opacity: 1;
            }
        }
    }

    .collapse {
        &.show {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
}