.accordion-filters {
    .accordion-item {
        &:last-child {
            border-bottom: none !important;
        }
    }

    .accordion-collapse {
        padding-top: 2px;
    }

    .accordion-body {
        padding-top: 1px;
        padding-bottom: 10px;

        @include media-breakpoint-up(md) {
            margin-top: -5px;
        }
    }
}