.accordion-button {
    @include link-color($body-color-alt, $link-hover-color);
    box-shadow: none !important;
    font-weight: $font-weight-bold;
    font-size: rem-calc(16);
    letter-spacing: 0;
    height: auto;

    .accordion-filters & {
        background-color: transparent !important;
    }

    &:hover,
    &:focus {
        color: $link-hover-color;
    }

    &:focus {
        box-shadow: none;
    }

    &:not(.collapsed) {
        &:hover,
        &:focus {
            color: $link-hover-color;
        }

        &:after {
            transform: translateY(-50%) scaleY(-1);
        }
    }

    &:after {
        @include animate(transform);
        @include icon-icomoon('\e912', 14px);
        @include center-v;
        background: none !important;
        width: auto;
        height: auto;
        right: 0;

        .accordion-filters & {
            @include media-breakpoint-up(md) {
                right: 2px;
            }
        }
    }

    .card-filters & {
        font-weight: $font-weight-semibold;
    }
}




