.badge-product {
    font-size: rem-calc(12);
    min-width: 63px;
    padding: rem-calc(7 11 6);
    text-align: center;
}

.badge-stock {
    border-radius: $border-radius;
    font-size: rem-calc(13);
    font-weight: $font-weight-semibold;
    line-height: 1;
    padding: rem-calc(11 14);

    @include media-breakpoint-up(xl) {
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
    }
}