// .cards-blog-container {}

.card-blog {
    .title-block {
        a {
            @include link-inherit;
        }
    }

    .card-title {
        a {
            &:focus,
            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    .by {
        display: block;
        line-height: calc(16 / 14);
        margin: 0 0 8px;
    }

    .blog-meta-info {
        display: block;
        padding: 1px 0 5px;
    }

    .img-holder {
        width: 100%;

        @include media-breakpoint-up(sm) {
            max-width: 40%;
        }

        @include media-breakpoint-up(lg) {
            max-width: 30%;
        }

        img {
            @include animate(opacity);
            width: 100%;
        }

        a {
            &:focus,
            &:hover {
                img {
                    opacity: 0.8;
                }
            }
        }
    }
}

.card-blog,
.card-blog-feature {
    .btn-link {
        @include link-inherit;
    }
}