.card-nav-tabs {
    .card-body {
        @include media-breakpoint-up(lg) {
            padding-top: rem-calc(24);
            padding-bottom: rem-calc(24);
        }

        @include media-breakpoint-up(xl) {
            padding-top: rem-calc(30);
            padding-bottom: rem-calc(30);
        }
    }
}

.nav-tabs-buttons {
    border: solid $border-color;
    border-width: 1px 0;
    font-size: rem-calc(18);
    padding: 8px 0 10px;

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(20);
    }

    .nav-item {
        border-top: 1px solid $border-color;
        flex: 1 1 100%;
        width: 100%;

        &:first-child {
            border-top: none;
        }
    }

    .nav-link {
        padding-left: 0;
        padding-right: 24px;
        text-align: left;
        width: 100%;

        @include media-breakpoint-up(lg) {
            padding-top: rem-calc(12);
            padding-bottom: rem-calc(12);
        }

        @include media-breakpoint-up(xl) {
            padding-top: rem-calc(16);
            padding-bottom: rem-calc(15);
        }

        &.active {
            background-color: transparent !important;
            color: $link-hover-color;
        }

        &.active,
        &:focus,
        &:hover {
            &:before {
                color: $link-hover-color;
                margin-right: -8px;
            }
        }

        &:before {
            @include animate(margin);
            @include icon-icomoon("\e91b", 20px);
            @include center-v;
            color: $light-500;
            right: -2px;

            @include media-breakpoint-up(lg) {
                font-size: rem-calc(24);
            }
        }
    }
}