.card-filters {
    [class^="offcanvas"],
    [class*="offcanvas"] & {
        @include media-breakpoint-down(md) {
            box-shadow: none;
        }
    }

    label,
    .label {
        display: inline-flex;
        align-items: center;
        font-size: rem-calc(15);
        font-weight: $font-weight-medium;
    }

    .card-header {
        padding-top: rem-calc(32);
        padding-bottom: rem-calc(12);
        position: relative;

        @include media-breakpoint-up(xl) {
            padding-top: rem-calc(37);
            padding-bottom: rem-calc(20);
        }

        &:after {
            content: "";
            position: absolute;
            left: $card-spacer-x;
            right: $card-spacer-x;
            height: 1px;
            background: $border-color;
            bottom: 0;

            @include media-breakpoint-up(xl) {
                left: $card-spacer-x-xl;
                right: $card-spacer-x-xl;
            }
        }
    }

    .card-body {
        @include media-breakpoint-up(md) {
            padding-top: 1px;
        }
    }

    [class^="text-light"],
    [class*="text-light"] {
        color: $gray-base !important;
    }

    .price-block {
        label,
        .label {
            font-size: rem-calc(16);
        }
    }
}

.sidebar_inner {
    transition: top 200ms linear;
    // fix
    padding: 0 0 1px;
}