.card-brand {
    @include size(174px, 89px);

    @include media-breakpoint-up(lg) {
        width: 176px;
    }

    @include media-breakpoint-up(xl) {
        width: 100%;
    }

    img {
        @include animate(transform);
    }

    .card-body {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem-calc(8);
    }
}

a.card-brand {
    &:focus,
    &:hover {
        img {
            @extend .flipInY;
        }
    }
}