.cart-form {
  .row {
    .col-lg-5 {
      @include media-breakpoint-up(lg) {
        width: 37.5%;
      }
    }
  }

  label,
  .label {
    color: $black;
    margin: rem-calc(0 0 7);
    font-size: rem-calc(18);
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(9);
    }
  }

  .btn {
    width: 100%;
    box-shadow: none;
    height: auto;

    &-outline-light {
      color: $gray-600;
      border-color: #b5b5b5;
    }

    &.dropdown-toggle {
      font-weight: $font-weight-medium;

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(14);
      }
    }
  }

  .dropdown-toggle {
    padding-right: rem-calc(30);
    justify-content: flex-start;
    text-align: left;
    font-weight: 400;
    padding: rem-calc(7 40 7 8);

    @include media-breakpoint-up(lg) {
      padding-top: rem-calc(9.5);
      padding-bottom: rem-calc(9);
    }
  }

  .submit {
    line-height: calc(25 / 18);
    padding-top: rem-calc(16);
    padding-bottom: rem-calc(16);

    &.fixed-btn {
      position: fixed;
      border-radius: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      z-index: 10;
    }
  }
}