.card {
    &.card-noshadow-mobile {
        @include media-breakpoint-down(lg) {
            box-shadow: none !important;
        }

        .section-filters-result & {
            @include media-breakpoint-up(md) {
                box-shadow: $card-box-shadow;
            }
        }
    }

    &.card-noshadow-md {
        @include media-breakpoint-down(md) {
            box-shadow: none !important;
        }
    }

    &.card-large {
        > .card-header,
        > .card-body,
        > .card-footer {
            padding-left: calc(#{$grid-gutter-width} / 2);
            padding-right: calc(#{$grid-gutter-width} / 2);

            @include media-breakpoint-up(lg) {
                padding-left: rem-calc(30);
                padding-right: rem-calc(30);
            }

            @include media-breakpoint-up(xl) {
                padding-left: rem-calc(40);
                padding-right: rem-calc(40);
            }
        }
    }

    &.card-gallery-like {
        > .card-header {
            @include media-breakpoint-up(xl) {
                padding-top: rem-calc(37);
            }
        }
    }

    > .card-header,
    > .card-body,
    > .card-footer {
        @include media-breakpoint-up(xl) {
            padding-left: $card-spacer-x-xl;
            padding-right: $card-spacer-x-xl;
        }
    }
}

.card-large {
    &.card-category {
        > .card-header {
            @include media-breakpoint-between(sph, lg) {
                padding-top: rem-calc(33);
            }
        }
    }

    > .card-header {
        padding-top: rem-calc(32);
        padding-bottom: 0;

        @include media-breakpoint-up(sph) {
            padding-top: rem-calc(46);
        }

        @include media-breakpoint-up(lg) {
            padding-top: rem-calc(32);
        }

        @include media-breakpoint-up(xl) {
            padding-top: rem-calc(38);
        }
    }

    > .card-body {
        padding-bottom: rem-calc(23);

        .cards-blog-container & {
            padding-bottom: rem-calc(16);
        }
    }

    .card-title {
        &.h6 {
            @include media-breakpoint-up(lg) {
                font-size: rem-calc(18);
                margin-bottom: calc(6 / 18 * 1em);
            }
        }
    }
}

.card-title {
    &.title-iconed {
        display: flex;
        align-items: center;
        letter-spacing: -.01em;

        .icon {
            margin: 0 11px 0 0;
        }
    }

    .icon-user {
        font-size: 76%;
    }

    .icon-edit-report {
        font-size: 86%;
    }
}

.card-header {
    .row-title {
        @include media-breakpoint-up(sph) {
            padding-top: rem-calc(8);
        }
    }
}

.card-fullwidth-m {
    @include media-breakpoint-down(lg) {
        border-radius: 0;
        margin-left: calc(-#{$grid-gutter-width} / 2);
        margin-right: calc(-#{$grid-gutter-width} / 2);
    }

    .section-filters-result & {
        @include media-breakpoint-up(md) {
            border-radius: $card-border-radius;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.card-fullwidth-md {
    @include media-breakpoint-down(md) {
        border-radius: 0;
        margin-left: calc(-#{$grid-gutter-width} / 2);
        margin-right: calc(-#{$grid-gutter-width} / 2);
    }
}