.details-list {
  border-radius: $border-radius;
  font-size: rem-calc(14);
  font-weight: $font-weight-medium;
  line-height: 1;

  a {
    @include link-inherit-underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: calc(18 / 14 * 1em);

    &:last-child {
      margin-bottom: 5px;
    }
  }

  .list-group-item {
    padding-bottom: calc($list-group-item-padding-y - 1px);
    padding-right: calc($list-group-item-padding-x - 8px);
    display: flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      padding-top: calc($list-group-item-padding-y - 2px);
    }
  }

  .icon-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(35);
  }

  .text-wrap {
    flex-grow: 1;
    padding: rem-calc(0 0 0 15);
  }

  .title {
    display: block;
    font-weight: 700;
    font-size: rem-calc(16);
    line-height: calc(17.6 / 16);
    margin: 0 0 3px;
  }
}