.dropdown {
    @include scroll-custom;
    font-weight: $dropdown-font-weight;

    .btn {
        &.dropdown-toggle {
            background-color: $dropdown-bg;
        }
    }
}

.dropdown-toggle {
    @extend .text-truncate;

    &:after {
        @include animate(transform);
        @include icon-icomoon('\e919', 22px);
        @include center-v;
        background: none !important;
        border: none;
        color: $black;
        width: auto;
        height: auto;
        right: 10px;
    }

    &.show {
        &:after {
            transform: translateY(-50%) scale(-1);
        }
    }
}

.dropdown-menu {
    line-height: 1;
    margin-top: 6px !important;
    width: 100%;

    li {
        &:first-child {
            .dropdown-item {
                border-top: none;
            }
        }
    }

    label,
    .label {
        display: block;
        margin-bottom: 0;

        input[type="radio"],
        input[type="checkbox"] {
            @extend .visually-hidden;
        }
    }

    .cart-form & {
        overflow: hidden;
        min-width: 0;
    }

    .dropdown-item {
        border-top: 1px solid $dropdown-border-color;
        padding-bottom: calc(#{$dropdown-item-padding-y} + 1px);

        sup,
        sub {
            font-size: calc(10 / 16 * 100%);
        }
    }
}

.dropdown-menu_inner {
    @include media-breakpoint-down(lg) {
        position: relative;
        z-index: 1;
        background-color: var(--bs-dropdown-bg);
        padding: 8px 4px 8px 16px;
    }

    &:after {
        @include media-breakpoint-down(lg) {
            @include size(33px);
            @include icon-icomoon('\e918', 32px);
            border: 1px solid rgba($white, .8);
            border-radius: $border-radius-sm;
            color: $white;
            cursor: pointer;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-50%, -100%);
            margin: -8px 0 0;
        }
    }

    .dropdown-item {
        @include media-breakpoint-down(lg) {
            padding-top: rem-calc(12);
            padding-bottom: rem-calc(12);
        }
    }

    ul {
        max-height: 202px;
        overflow-y: auto;
        margin: 0 5px 0 0;
    }
}

