.favorite-link {
    @include size (rem-calc(28));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray-300;
    border-radius: 50%;
    color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    background-color: $white;
    position: relative;

    @include media-breakpoint-up(lg) {
        padding-top: rem-calc(1);
    }

    .card-product & {
        position: absolute;
        z-index: 5;
        top: rem-calc(9);
        right: rem-calc(8);

        @include media-breakpoint-up(lg) {
            top: rem-calc(13);
            right: rem-calc(14);
        }

        .offcanvas-add-cart & {
            top: rem-calc(8);
            right: rem-calc(9);
        }
    }

    .card-gallery & {
        @include media-breakpoint-down(lg) {
            @include size (rem-calc(44));
            top: rem-calc(18);
            right: rem-calc(19);
        }

        .ico-link {
            svg {
                @include media-breakpoint-down(lg) {
                    display: inline-block;
                    width: 24px;
                    height: 20px;
                }
            }
        }
    }

    .card-gallery-like & {
        @include media-breakpoint-up(lg) {
            top: rem-calc(8);
            right: rem-calc(10);
        }
    }

    &.selected,
    &:hover,
    &:focus,
    input[type="checkbox"]:checked + .ico-link {
        color: $warning;

        svg {
            path {
                stroke: currentColor !important;
            }
        }
    }

    input[type="checkbox"] {
        position: absolute;
        left: -99999px;
        visibility: hidden;
        cursor: pointer;
    }

    input[type="checkbox"] + .ico-link {
        cursor: pointer;
    }

    input[type="checkbox"]:checked + .ico-link {
        color: $warning;
    }

    .ico-link {
        @include center-vh;
    }
}

