.list-filters-container {
    @include scroll-custom(2px, 2px, rgba(#1c1c1c, .1), rgba(#1c1c1c, .8));

    @include media-breakpoint-up(lg) {
        padding: rem-calc(0 0 8);
    }
}

.list-filters-wrap {
    overflow-x: auto;
    margin: -21px calc(-#{$grid-gutter-width} / 2) -16px;
    padding: 0 21px;
    text-align: center;

    .list-filters {
        display: inline-flex;
    }
}

.list-filters {
    font-size: rem-calc(14);
    font-weight: $font-weight-medium;
    flex-wrap: nowrap;
    line-height: calc(16 / 14);
    margin: 0 -11px;

    @include media-breakpoint-up(xl) {
        margin-left: -8px;
        margin-right: -9px;
    }

    a {
        @include link-color($body-color-alt, $white);
        background: $white;
        box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.1);

        &:focus,
        &:hover,
        &.active,
        .active & {
            background-color: $btn-hover-bg-color;
            font-weight: $font-weight-semibold;
        }
    }

    .nav-item {
        padding: 21px 5px 21px 6px;

        @include media-breakpoint-up(xl) {
            padding-left: 9px;
            padding-right: 10px;
        }
    }

    .nav-link {
        padding: 5px 15px;
    }
}