.offcanvas-filters {
    @include media-breakpoint-down(md) {
        width: 390px !important;

        .card-body {
            padding-top: rem-calc(10);
        }
    }

    .offcanvas-header {
        @include media-breakpoint-between(sph, md) {
            padding-top: rem-calc(19);
            padding-bottom: rem-calc(22);
        }

        .btn-close {
            top: -2px;
            left: -6px;
        }
    }

    .offcanvas-body {
        padding: 0;
        margin: 0;
    }

    .card-filters {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .btn-apply {
        @include media-breakpoint-up(sph) {
            min-width: 162px;
        }
    }
}

