.offcanvas-search {
    .offcanvas-header {
        padding-top: rem-calc(24);
        padding-bottom: rem-calc(14);
    }

    .offcanvas-body {
        display: flex;
        padding: 5vh 0 2vh;
    }

    .search-results {
        .border {
            margin-top: 11px;

            @include media-breakpoint-up(lg) {
                margin-top: 10px;
            }
        }
    }

    .search-cards-container {
        @include media-breakpoint-down(lg) {
            padding: 4.3vh 0 0;
        }
    }
}