.search-box {
    color: $body-color-alt;

    &.input-group {
        flex-wrap: nowrap;

        > .form-control {
            min-width: 100%;
        }
    }

    .heading-page & {
        max-width: 527px;
        margin-left: auto;
        margin-right: auto;
    }

    [id="footer"] & {
        font-size: rem-calc(12);
    }

    input[type='text'],
    input[type='search'],
    .input-group-text {
        .navbar-container &,
        .offcanvas-search & {
            @include media-breakpoint-down(lg) {
                border-color: transparent;
            }
        }
    }

    input[type='text'],
    input[type='search'] {
        font-size: rem-calc(14);
        line-height: calc(21 / 14);
        padding-top: rem-calc(11);
        padding-bottom: rem-calc(11);

        &:placeholder-shown {
            + .form-clear {
                opacity: 0;
                visibility: hidden;
            }
        }

        + .form-clear {
            opacity: 1;
            visibility: visible;
        }

        .navbar-container & {
            @include media-breakpoint-up(xl) {
                padding-left: 50px !important;
            }
        }

        .dropdown-menu & {
            padding-left: 50px !important;
        }

        [id="footer"] & {
            font-size: rem-calc(12);
            line-height: calc(19 / 12);
        }
    }

    button,
    input[type='button'],
    input[type='submit'],
    .form-control {
        font-size: inherit;
    }

    button,
    input[type='button'],
    input[type='submit'] {
        color: $dark;
        flex: 1 0 auto;
        height: auto;
        letter-spacing: .06em;

        @include media-breakpoint-up(lg) {
            letter-spacing: .02em;
        }

        &:hover,
        &:focus {
            color: $warning;
        }

        [id="footer"] & {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .form-control {
        background-color: $light;
        border-color: $light-300;
        border-radius: 22px !important;

        @include media-breakpoint-up(xl) {
            padding-top: $input-btn-padding-y;
            padding-bottom: $input-btn-padding-y;
        }

        &:first-child {
            border-right-color: transparent;
            padding-right: 90px !important;

            [id="footer"] & {
                padding-top: calc($input-btn-padding-y + 3px);
                padding-bottom: calc($input-btn-padding-y + 3px);
                padding-right: 110px !important;

                @include media-breakpoint-up(lg) {
                    padding-top: calc($input-btn-padding-y + 1px);
                    padding-bottom: calc($input-btn-padding-y + 1px);
                }
            }
        }

        &:last-child {
            border-left-color: transparent;
            padding-left: 43px !important;
        }

        @include placeholder {
            color: $gray-base;

            [id="footer"] & {
                color: #6F6F6F;
            }
        }

        .dropdown-menu & {
            border-color: $light;
        }

        [id="footer"] & {
            background-color: $input-bg;
        }
    }

    .input-group-text {
        background-color: transparent !important;
        border-color: $gray-300;
        border-radius: 22px;
        font-size: inherit;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 10;

        &:first-child {
            border-right-color: transparent;
            left: 0;

            .navbar & {
                @include media-breakpoint-up(xl) {
                    width: 50px;
                    justify-content: flex-end;
                }
            }

            .dropdown-menu & {
                font-size: rem-calc(18);
                width: 50px;
                justify-content: flex-end;
            }

            .icon {
                @include media-breakpoint-up(xl) {
                    position: relative;
                    left: 2px;
                }
            }
        }

        &:last-child {
            border-left-color: transparent;
            right: 0;

            @include media-breakpoint-up(xl) {
                width: 49px;
            }

            [id="footer"] & {
                width: auto;
            }

            .icon {
                position: relative;
                top: .5px;
            }
        }

        .dropdown-menu & {
            border-color: $light;
        }
    }

    .icon {
        font-size: rem-calc(20);

        [id="footer"] & {
            font-size: rem-calc(12);
            margin: 0 0 1px 6px;
        }
    }
}

.form-clear {
    @include animate(opacity visibility);
    @include center-v;
    display: flex;
    align-items: center;
    right: 42px;
    z-index: 10;

    @include media-breakpoint-up(xl) {
        right: 46px;
    }

    .separator {
        @include hide-text;
        @include size(1px, 18px);
        background: $gray-500;
        margin: 0 0 0 10px;
    }

    .btn-delete {
        @include size(21px);
        background-color: transparent;
        border: none !important;
        box-shadow: none !important;
        color: $dark;
        opacity: 1;
    }
}