.social-list {
    @extend %listreset;
    font-size: rem-calc(30);
    line-height: 1;
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(-5);

    [id="footer"] & {
        justify-content: center;
        margin: rem-calc(-9);

        @include media-breakpoint-up(lg) {
            justify-content: flex-start;
            margin: rem-calc(-5 -5 20);
        }
    }

    li {
        margin: rem-calc(5);

        [id="footer"] & {
            margin-left: rem-calc(9);
            margin-right: rem-calc(9);

            @include media-breakpoint-up(lg) {
                margin-left: rem-calc(5);
                margin-right: rem-calc(5);
            }
        }
    }

    a {
        @include animate (color);
        color: #6f6f6f;
        display: block;

        &:focus,
        &:hover {
            color: $warning;
        }

        [id="footer"] & {
            width: rem-calc(33);

            @include media-breakpoint-up(lg) {
                width: rem-calc(28);
            }
        }

        svg:not(.icon) {
            fill: currentColor;
            width: 100%;
            height: auto;
        }
    }
}