.sort-block {
    font-size: rem-calc(12);
    font-weight: $font-weight-semibold;
    letter-spacing: $letter-spacing-base;
    text-transform: uppercase;

    .row-title & {
        @include media-breakpoint-up(lg) {
            margin-right: 15px;
        }

        @include media-breakpoint-up(xl) {
            margin-right: 20px;
        }
    }

    label,
    .label {
        color: $gray-base;
        margin-right: 2px;
    }

    select {
        border: none !important;
        color: $body-color-alt;
        background: $input-bg;
        font-weight: inherit;
        letter-spacing: inherit;
        padding: 0 !important;
        text-transform: uppercase;
    }
}