.steps-checkout {
    color: rgba($body-color-alt, .6);
    font-size: rem-calc(12);
    font-weight: $font-weight-medium;
    line-height: 1;
    list-style: none;
	counter-reset: list;
    text-align: center;
    margin: rem-calc(16) 0;
    min-width: 48.2vw;
    padding: 0;

    li {
        overflow: hidden;
        position: relative;

        &:first-child {
            &:after {
                left: 50%;
            }
        }

        &:last-child {
            &:after {
                right: 50%;
            }
        }

        &:after {
            background-image: url(../images/checkout-line.svg);
            background-repeat: repeat-x;
            background-position: 0 center;
            background-size: 35px 2px;
            content: '';
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            top: 16px;
            z-index: 1;
        }
    }

    .step-checked,
    .step-active {
        .step-name {
            &:before {
                background-color: $warning;
                border-color: $warning;
                color: $white;
            }
        }
    }

    .step-checked {
        .step-name {
            pointer-events: unset;
        }
    }

    .step-active {
        color: rgba($body-color-alt, 1);
        font-weight: $font-weight-semibold;
    }

    .step-name {
        @include align(top);
        @include link-inherit;
        padding: rem-calc(37) 0 0;
        pointer-events: none;
        position: relative;

        &:before {
            @include size(rem-calc(32));
            @include center-h;
            content: counter(list, decimal) "";
            counter-increment: list;
            background: $white;
            border: 1px solid $light-300;
            border-radius: 50%;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: $font-weight-medium;
            top: 0;
            z-index: 5;
        }
    }
}