.table {
    font-weight: $font-weight-medium;
    text-align: center;

    .product_detail_section & {
        border-color: $table-border-color-alt;
    }

    &.table-responsive-custom {
        $column-title-width: 150px;

        @include media-breakpoint-down(lg) {
            display: block;
            width: 100%;
            overflow: hidden;
            text-align: left;

            thead {
                display: none;
            }

            tbody,
            td,
            tr {
                display:block;
            }

            tbody {
                border-left: $column-title-width solid $table-bg;
                float: left;
                width: 100%;
                padding: 0 1px 0 1px;
                background: $table-bg;
                box-sizing: border-box;
            }

            tr {
                float: left;
                width: 100%;
                background: $table-bg;
                clear: both;
                padding: rem-calc(16 0);
                position: relative;

                &:nth-child(odd),
                &:nth-child(odd) td {
                    background-color: var(--bs-table-striped-bg);
                }

                &:nth-child(odd) {
                    &:before {
                        content: "";
                        position: absolute;
                        right: 100%;
                        left: -999px;
                        top: 0;
                        bottom: 0;
                        background-color: var(--bs-table-striped-bg);
                    }
                }
            }

            td {
                padding: 0 0 0 $column-title-width;
                margin: 0 -1px 0 (-$column-title-width);
                float: left;
                clear: both;
                width: 100%;
                white-space: nowrap;
                border-top: 0;
                box-sizing: content-box;

                &:before {
                    content: attr(data-label);
                    display: block;
                    color: $table-th-color !important;
                    float: left;
                    font-weight: $font-weight-semibold;
                    width: $column-title-width;
                    text-align: left;
                    margin: 0 0 0 (-$column-title-width);
                    position: relative;
                    white-space: normal;
                }

                &:before,
                span {
                    padding: 4px 16px;
                }

                span {
                    white-space: normal;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    th,
    td {
        @include media-breakpoint-up(lg) {
            padding-left: 16px;
            padding-right: 16px;
        }

        &:first-child {
            @include media-breakpoint-up(xl) {
                padding-left: 28px;
            }
        }
    }

    th {
        color: $black;
        padding-top: rem-calc(16);
        padding-bottom: rem-calc(16);
        vertical-align: middle;

        @include media-breakpoint-up(lg) {
            padding: rem-calc(18 16 17);
        }

        &:first-child {
            text-align: left;
        }
    }

    td {
        padding-bottom: rem-calc(11);

        @include media-breakpoint-up(lg) {
            padding-bottom: rem-calc(12);
        }

        &:first-child {
            text-align: left;
        }
    }
}

.table-striped {
    // th,
    td {
        border: 0;
    }
}

.table-order {
    color: $body-color-alt;

    > :not(caption) > * > * {
        border-bottom: none;
    }

    td {
        @include media-breakpoint-down(lg) {
            padding-top: rem-calc(3);
            padding-bottom: rem-calc(3);
        }

        @include media-breakpoint-up(lg) {
            padding-top: rem-calc(5);
            padding-bottom: rem-calc(5);
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            text-align: right;
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    padding-bottom: rem-calc(24);

                    @include media-breakpoint-up(xl) {
                        padding-bottom: rem-calc(22);
                    }
                }
            }
        }
    }

    tfoot {
        border-top: 1px solid #E6E6E6;

        td {
            padding-top: rem-calc(22);
            padding-bottom: rem-calc(21);

            @include media-breakpoint-up(xl) {
                padding-top: rem-calc(19);
                padding-bottom: rem-calc(12);
            }
        }
    }

    .lead {
        font-size: calc(18 / 16 * 100%);
    }
}

.table-order-summary {
    tbody {
        tr {
            &:first-child {
                td {
                    border-bottom: 1px solid $table-border-color;
                    padding-bottom: rem-calc(22);
                }
            }

            &:nth-child(2) {
                td {
                    padding-top: rem-calc(22);
                }
            }
        }

        td {
            &:first-child {
                font-weight: $font-weight-medium;
            }
        }
    }
}

.table-my-order {
    &.table-striped {
        > thead {
            th {
                border-bottom-color: transparent;
            }
        }

        > tbody {
            > tr:nth-of-type(even) {
                > * {
                    --bs-table-accent-bg: $white;
                }
            }

            > tr:nth-of-type(odd) {
                > * {
                    background-color: var(--bs-table-striped-bg);
                }
            }
        }
    }

    th,
    td {
        &:last-child {
            text-align: left;
        }
    }

    td {
        @include media-breakpoint-up(md) {
            font-size: rem-calc(14);
            padding-top: rem-calc(14);
            padding-bottom: rem-calc(13);
        }
    }
}

.table-returned {
    th,
    td {
        &:first-child {
            padding-left: 0;
        }
    }

    .title-product {
        .card-product-checkout & {
            @include media-breakpoint-down(sm) {
                font-size: rem-calc(16);
            }
        }
    }

    .img-product {
        min-width: 75px;
    }
}