.section-advertaising.pt-25
    .container-xxl
        .row.gx-35
            .col-lg-6
                +cardFly({
                    addClassCard: 'shadow-none',
                    addImgClass: 'card-img',
                    imgName: 'img-card_fly-01',
                    imgWidth: '610',
                    imgHeight: '400',
                    subTitle: 'play with skill',
                    title: 'Nike Football Products',
                    addBtnClass: 'btn-light rounded-pill',
                    btn: 'SHOP NOW'
                })
            .col-lg-6
                +cardFly({
                    addClassCard: 'card-fly-small shadow-none',
                    addImgClass: 'card-img',
                    imgName: 'img-card_fly-02',
                    imgWidth: '610',
                    imgHeight: '400',
                    subTitle: 'equipment and accessories',
                    title: 'Rugby Training',
                    addBtnClass: 'btn-light rounded-pill',
                    btn: 'SHOP NOW'
                })
