section.section-blog.section.py-3
    .container-xxl
        .row.justify-content-center
            .col-lg-11
                .pb-3.pb-md-0
                    h1.title-section.fw-bold.mb-35.mb-lg-37 Blog
                article.card-blog-feature.card-fullwidth-m.card.card-large.card-noshadow-mobile.border-0.mb-35
                    .card-body.py-md-2.py-lg-35.py-xl-4
                        .row.align-items-center
                            .col-md-6
                                .img-holder.mb-4.my-md-2
                                    +retinaJpg2x({
                                        addImgClass: 'rounded-2',
                                        imgName: 'img-hero_home-01',
                                        imgWidth: '715',
                                        imgHeight: '616',
                                        alt: ''
                                    })
                            .col-md-6
                                strong.h6.d-block.text-uppercase.opacity-60.mb-15 Featured article
                                h3: a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                p  Est neque ea assumenda reprehenderit facere magnam iure officiis molestias amet exercitationem perferendis voluptatum, sint modi? Nobis accusantium at eum illum maiores.
                                p.mb-1
                                    a.btn.btn-link.px-0.text-uppercase(href="#")
                                        | Read article
                                        svg.icon.icon-chevron-right
                                            use(xlink:href='#icon-chevron-right')
                                        span.name  icon-chevron-right

                .card-blog.card-large.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-35
                    .card-body.pt-lg-55
                        include ../components/_swiper_esentials

                .cards-blog-container
                    -for (var i = 0; i < 3; i++)
                        +cardBlog({
                            addClassCard: 'card-large card-fullwidth-m card-noshadow-mobile border-0 mb-35',
                            addImgClass: 'rounded-2',
                            imgName: 'img-blog-01',
                            imgExt: 'jpg',
                            imgAlt: '',
                            imgWidth: '724',
                            imgHeight: '483',
                            blogTitle: 'Ping Pong',
                            blogBy: 'Rebecca Newitt',
                            textDate: '4/14/2020',
                            dateFormat: '2020-04-14',
                            blogCategory: 'Category',
                            blogText: ['Table Tennis/ Ping Pong Is Fun And Competitive Sport That You Can Spend Your Time Enjoying As An Individual, A Pair, As Part Of Team Or Even At Home With Your Family!'],
                            linkText: 'Read more'
                        })

                        +cardBlog({
                            addClassCard: 'card-large card-fullwidth-m card-noshadow-mobile border-0 mb-35',
                            addImgClass: 'rounded-2',
                            imgName: 'img-blog-02',
                            imgExt: 'jpg',
                            imgAlt: '',
                            imgWidth: '724',
                            imgHeight: '483',
                            blogTitle: 'Ping Pong',
                            blogBy: 'Rebecca Newitt',
                            textDate: '4/14/2020',
                            dateFormat: '2020-04-14',
                            blogCategory: 'Category',
                            blogText: ['Abdominal Muscles, Or &Lsquo;Abs&Rsquo; Are Part Of Our Core Muscle Group. Our Core Muscles Play A Huge Part In Our Day-To-Day Life.'],
                            linkText: 'Read more'
                        })

                include ../components/_pagination
