section.section-brands-popular.pt-17.pb-33.pb-xl-4
    .container-xxl
        .card-gallery.card-large.card-fullwidth-m.card.card-noshadow-mobile.border-0
            .card-header.border-bottom-0
                .row.justify-content-between
                    .col-auto
                        h2.h3.title-section Popular brands
                    .col-auto
                        a.btn.btn-outline-dark.btn-sm.rounded-pill.text-uppercase(href="#") view ALL
                            <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg><span class="name"> icon-arrow-right</span>
            .card-body
                include ../components/_swiper_brands_popular