section.section-esentials.py-3.py-xl-2
    .container-xxl
        .card-gallery.card-large.card-fullwidth-m.card.card-noshadow-mobile.border-0
            .card-header.border-bottom-0
                .row.justify-content-between
                    .col-auto
                        h2.h3.title-section Newitts Esentials
            .card-body
                include ../components/_swiper_esentials