.section-filters-result.py-3
    .container-xxl
        .twocolumns.row.gx-35
            #sidebar.col-md-4.col-lg-3
                .sidebar_sticky
                    .sidebar_inner
                        include ../templates/_offcanvas_card_filters
            #content.col-md-8.col-lg-9
                include ../components/_card_category

                include ../components/_card_description