section.section-hero.pt-5.pt-xl-53.pb-md-5.pb-lg-37
    .container-xxl
        .hero-grid.d-md-grid
            .column-left.column
                +cardFly({
                    addClassCard: 'card-fly-large shadow-none',
                    addImgClass: 'card-img',
                    imgName: 'img-hero_home-01',
                    imgWidth: '715',
                    imgHeight: '616',
                    subTitle: '130 years of expertise',
                    title: 'Gun & Moore <br/> <span class="fw-normal">England´s Best</span>',
                    addBtnClass: 'btn-light rounded-pill',
                    btn: 'SHOP NOW'
                })
            .column-right-top.column
                +cardFly({
                    addClassCard: 'shadow-none',
                    addImgClass: 'card-img',
                    imgName: 'img-hero_home-02',
                    imgWidth: '505',
                    imgHeight: '298',
                    subTitle: 'Footballs, bags & equipment',
                    title: 'Mitre Football',
                    addBtnClass: 'btn-light rounded-pill',
                    btn: 'SHOP NOW'
                })
            .column-right-bottom.column
                +cardFly({
                    addClassCard: 'shadow-none',
                    addImgClass: 'card-img',
                    imgName: 'img-hero_home-03',
                    imgWidth: '505',
                    imgHeight: '298',
                    subTitle: 'meet your goals',
                    title: 'ATREQ Fitness',
                    addBtnClass: 'btn-light rounded-pill',
                    btn: 'SHOP NOW'
                })
