section.section-just-for-you.py-3.py-xl-2
    .container-xxl
        .card-gallery.card-large.card-fullwidth-m.card.card-noshadow-mobile.border-0
            .card-header.border-bottom-0
                .row.justify-content-between
                    .col-auto
                        h2.h3.title-section Just for You
                    .col-auto
                        a.btn.btn-outline-dark.btn-sm.rounded-pill.text-uppercase(href="#") SHOP ALL
                            <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg><span class="name"> icon-arrow-right</span>
            .card-body
                include ../components/_swiper_just_for_you