section.section-return.section.py-3
    .container-xxl
        .pb-3.pb-md-0
            h2.title-section.fw-bold.mb-35.mb-lg-37 Order 129823-1349349
            p: strong Check that thease are the items you want to return. And, if you havn't done so already, please check our #[a(href="#") returns policy].
        .twocolumns-sidebar-right.row.gx-35
            #content.col-lg-8
                include ../components/_card_items_return_confirm

            .sidebar.col-lg-4
                include ../components/_card_items_returning_confirm

                .vstack.gap-33.mb-4
                    .vstack-row
                        button.btn-checkout.btn.btn-lg.btn-warning.text-white.text-start.d-block.w-100(type="submit")
                            .row.align-items-center.gx-2
                                .col.pe-0
                                    strong.btn-title.h6.fw-bold.text-white.text-uppercase Submit return
                                .col-auto
                                    span.ico-circle
                                        svg.icon.icon-chevron-right
                                            use(xlink:href='#icon-chevron-right')
                                        span.name  icon-chevron-right
                    .vstack-row
                        button.btn-checkout.btn.btn-lg.btn-light-450.text-dark.text-start.d-block.w-100(type="reset")
                            .row.align-items-center.gx-2
                                .col.pe-0
                                    strong.btn-title.h6.fw-bold.text-dark.text-uppercase Cancel
                                .col-auto
                                    span.ico-circle
                                        svg.icon.icon-chevron-right
                                            use(xlink:href='#icon-chevron-right')
                                        span.name  icon-chevron-right
