section.section-last-chance.py-3
    .container-xxl
        h1.fw-bold Your search for “Test”
        .card-fullwidth-m.card-large.card.card-noshadow-mobile.border-0
            .card-header.border-bottom-0
                .row-title.row.justify-content-between.align-items-center
                    .col-auto
                        h2.card-title.h6.fw-medium Showing 52 results
                    .col-auto.ms-auto
                        .sort-block.d-flex-inline.mb-15
                            include ../components/_sort_block

            .card-body
                include ../templates/_cards_search_results

