section.section-sports-brands.pt-25.pb-5
    .heading-page
        .container-xxl
            .row.justify-content-center
                .col-12.col-md-10.col-lg-6
                    h1.title-section.mb-5.mb-lg-7.mb-xl-82 Sports Brands
                    form(action="#")
                        fieldset
                            h2.h4.title-form.text-uppercase.mb-37 SEARCH FOR YOUR FAVORITE BRANDS

                            -var placeholderSearchRight = 'Search your Brand'
                            include ../templates/_search_icon_right
    .letter-anchor-hold
        .letter-anchor-wrap
            .container-xxl
                ul.letter-anchor-list 
                    li: a(href="#letter-a") a
                    li: a(href="#letter-b") b
                    li: a(href="#letter-c") c
                    li: a(href="#letter-d") d
                    li: a(href="#letter-e") e
                    li: a(href="#letter-f") f
                    li: a(href="#letter-g") g
                    li: a(href="#letter-h") h
                    li: a(href="#letter-i") i
                    li: a(href="#letter-j") j
                    li: a(href="#letter-k") k
                    li: a(href="#letter-l") l
                    li: a(href="#letter-m") m
                    li: a(href="#letter-n") n
                    li: a(href="#letter-o") o
                    li: a(href="#letter-p") p
                    li: a(href="#letter-q") q
                    li: a(href="#letter-r") r
                    li: a(href="#letter-s") s
                    li: a(href="#letter-t") t
                    li: a(href="#letter-u") u
                    li: a(href="#letter-v") v
                    li: a(href="#letter-w") w
                    li: a(href="#letter-x") x
                    li: a(href="#letter-y") y
                    li: a(href="#letter-z") z
    .container-xxl
        .row.justify-content-center
            .col-lg-11.col-xl-10
                #letter-a.brand-group
                    .letter a
                    +brandsList([{
                            item: "Abs",
                            active: true
                        },{
                            item: "ACME"
                        },{
                            item: "Adidas"
                        },{
                            item: "Affinity"
                        },{
                            item: "Airex"
                        },{
                            item: "Annapurna"
                        },{
                            item: "Apollo"
                        },{
                            item: "Aresson"
                        },{
                            item: "ATREQ"
                    }])
                #letter-b.brand-group
                    .letter b
                    +brandsList([{
                            item: "Baden"
                        },{
                            item: "Battle Bag"
                        },{
                            item: "Beaverfit"
                        },{
                            item: "Beemat"
                        },{
                            item: "Bosu"
                        },{
                            item: "Buschwusch"
                        },{
                            item: "Butterfly"
                    }])
                #letter-c.brand-group
                    .letter c
                    +brandsList([{
                            item: "Carlton"
                        },{
                            item: "Centurion"
                        },{
                            item: "Century"
                        },{
                            item: "Continental"
                        },{
                            item: "Crazy Catch"
                    }])
                #letter-d.brand-group
                    .letter d
                    +brandsList([{
                            item: "Danlop Sport"
                    }])
                #letter-e.brand-group
                    .letter e
                    +brandsList([{
                            item: "Ear Bandit"
                        },{
                            item: "Eastside"
                        },{
                            item: "Elders"
                        },{
                            item: "Empire Pro Tape"
                        },{
                            item: "England Lacrosse"
                        },{
                            item: "Escape Fitness"
                        },{
                            item: "Eurohc"
                        },{
                            item: "Eveque"
                        },{
                            item: "Exigo"
                        },{
                            item: "Eyeline"
                    }])
                #letter-f.brand-group
                    .letter f
                    +brandsList([{
                            item: "Fastime"
                        },{
                            item: "First Play"
                        },{
                            item: "Fitness Mad"
                        },{
                            item: "Fleet Line Markers"
                        },{
                            item: "Fox 40"
                        },{
                            item: "Fusion Sports"
                    }])
                #letter-g.brand-group
                    .letter g
                    +brandsList([{
                            item: "Gilbert"
                        },{
                            item: "Gola"
                        },{
                            item: "Gray Nicolls"
                        },{
                            item: "Grays Hockey"
                        },{
                            item: "Gun &amp; Moor"
                    }])
                #letter-h.brand-group
                    .letter h
                    +brandsList([{
                            item: "Harrod Sport"
                        },{
                            item: "First Play"
                        },{
                            item: "Fitness Mad"
                        },{
                            item: "Fleet Line Markers"
                        },{
                            item: "Fox 40"
                        },{
                            item: "Fusion Sports"
                    }])
                #letter-j.brand-group
                    .letter j
                    +brandsList([{
                            item: "Joma"
                        },{
                            item: "Jordan Sport"
                    }])
                #letter-k.brand-group
                    .letter k
                    +brandsList([{
                            item: "Katchet"
                        },{
                            item: "Kookaburra"
                        },{
                            item: "Koolpak"
                    }])
                #letter-m.brand-group
                    .letter m
                    +brandsList([{
                            item: "Joma"
                        },{
                            item: "Jordan Sport"
                    }])
