.hero-visual {
    position: relative;

    .visual-holder {
        @include absolute;

        &:after {
            content: "";
            background: linear-gradient(180deg, rgba(28, 28, 28, 0.7) 0%, rgba(28, 28, 28, 0.25) 100%);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        img,
        video,
        iframe {
            @include object-fit;
            z-index: 1;
        }
    }

    > .card-header,
    > .card-body,
    > .card-footer {
        @include media-breakpoint-up(md) {
            padding-left: $card-spacer-x-xl;
            padding-right: $card-spacer-x-xl;
        }

        @include media-breakpoint-up(lg) {
            padding-left: 32px;
            padding-right: 32px;
        }

        @include media-breakpoint-up(xl) {
            padding-left: 41px;
            padding-right: 41px;
        }
    }

    .card-body {
        position: relative;
        z-index: 5;

        @include media-breakpoint-up(lg) {
            padding-top: rem-calc(50);
            padding-bottom: rem-calc(24);
        }

        @include media-breakpoint-up(xl) {
            padding-top: rem-calc(62);
            padding-bottom: rem-calc(34);
        }
    }

    .title-page {
        @include media-breakpoint-down(lg) {
            padding: rem-calc(27 0 40);
        }

        @include media-breakpoint-between(sph, lg) {
            font-size: rem-calc(48);
            line-height: calc(52.8 / 48);
        }

        @include media-breakpoint-up(lg) {
            line-height: calc(66 / 60);
        }
    }
}