.product_detail_section {
    @include scroll-custom($width: rem-calc(3), $height: rem-calc(3), $scroll-bg: rgba($gray-900, 0.1), $scroll-slider-bg: rgba($gray-900, 0.8));
    margin: 0 calc(#{-$grid-gutter-width} / 2);

    @include media-breakpoint-up(lg) {
        background-color: $light;
        margin: 0;
        padding: rem-calc(46 57 40);
    }

    .nav-tabs {
        justify-content: center;
        border-bottom: rem-calc(1) solid #6f6f6f;

        li {
            margin: rem-calc(0 40);
        }
    }

    .nav-link {
        @include animate (color);
        padding: rem-calc(0 0 10);
        border: 0;
        position: relative;
        color: #6f6f6f;
        font-size: rem-calc(18);
        line-height: calc(20 / 18);
        font-weight: 500;
        margin: 0;
        height: auto;

        &:focus,
        &:hover {
            color: $gray-900;
        }

        &.active {
            background-color: transparent;
            color: $gray-900;
            font-weight: 600;

            &:before {
                transform: translateX(-50%) scale(1);
            }
        }

        &:before {
            @include animate (transform);
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%) scale(0);
            bottom: 0;
            width: 126%;
            height: rem-calc(2);
            background: $warning;
        }
    }
}

.product_detail_block {
    .accordion-item {
        border: none;
    }

    .accordion-body {
        background: $light;
        padding: rem-calc(5) calc($grid-gutter-width / 2) rem-calc(30);

        @include media-breakpoint-up(lg) {
            padding: rem-calc(32 0 0);
        }
    }

    .card {
        color: $body-color-alt-2;
    }

    .card-body {
        padding: rem-calc(45 20 35);

        @include media-breakpoint-up(lg) {
            border-radius: rem-calc(10);
            padding: rem-calc(48 50 45);
        }
    }

    h2 {
        font-size: rem-calc(28);
        line-height: calc(32 / 28);
        margin-bottom: calc(21 / 28 * 1em);

        @include media-breakpoint-up(lg) {
            margin-bottom: calc(31 / 28 * 1em);
        }
    }

    h3 {
        font-size: rem-calc(20);
        line-height: calc(24 / 20);

        @include media-breakpoint-up(lg) {
            margin-bottom: rem-calc(8);
        }
    }

    ul:not([class]) {
        @extend %listreset;

        li {
            padding: rem-calc(0 0 0 24);
            position: relative;

            &:before {
                @include size (rem-calc(3));
                content: "";
                position: absolute;
                left: rem-calc(10);
                top: rem-calc(8);
                background: currentColor;
                border-radius: 50%;
            }
        }
    }

    .table {
        border-radius: rem-calc(3);
        font-size: rem-calc(11);
        line-height: calc(12 / 11);
        // text-align: center;
        overflow: hidden;
        margin: 0 0 rem-calc(25);

        @include media-breakpoint-up(lg) {
            border-radius: $border-radius;
            font-size: rem-calc(16);
            line-height: calc(24 / 16);
        }

        th {
            @include media-breakpoint-down(lg) {
                font-weight: $font-weight-bold;
            }
        }

        td {
            min-width: 92px;
        }
    }
}

.product_detail-opener {
    display: block;
    width: 100%;
    padding: rem-calc(17 45 14) calc($grid-gutter-width / 2);
    font-size: rem-calc(18);
    line-height: calc(24 / 18);
    font-weight: 600;
    text-align: left;
    background-color: $light;
    padding-bottom: rem-calc(15);
    position: relative;
    z-index: 1;

    &:not(.collapsed) {
        background-color: $light;
    }

    &:after {
        content: '\e919';
        font-size: rem-calc(20);
        right: rem-calc(17);
    }
}