.reload-input-group.input-focus.input-group.mx-auto(class=''+inputReloadAddClass)
    input.form-control(type='text' value=""+inputReloadValue aria-label="Product quantity")
    button.btn-reload.btn.btn-warning(type='button')
        span.visually-hidden Button
        i.icon.icon-reload