.card-gallery.card-large.card-fullwidth-m.card.card-noshadow-mobile.border-0
    .card-header.border-bottom-0
        .row.justify-content-between
            .col-auto
                h2.h3.title-section!= cardGalleryTitle
    .card-body
        include ../components/_swiper_products