.card-gallery-like.card-gallery.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-53.mb-md-35
    .card-header.border-bottom-0.pt-33.pb-0
        .row-title.row.justify-content-between
            .col-auto
                h2.h5.title-section!= cardGalleryTitle
    .card-body
        include ../components/_swiper_products_like