.accordion
    .accordion-item.bg-transparent.border-0.mb-12.mb-md-0
        button.faq-opener.accordion-button.d-md-none.collapsed(data-bs-toggle="collapse" data-bs-target="#faqAcc_one" aria-expanded="false" aria-controls="faq_one") Contact us
        #faqTab_one.tab-pane.fade.show.active
            #faqAcc_one.accordion-collapse.collapse
                .accordion-body.px-0.py-md-0
                    .card.card-noshadow-md.border-0.mb-3.mb-md-35
                        .card-header.border-bottom-0.pt-33.pb-0
                            .border-bottom
                                .row-title.pb-15
                                    h2.card-title Contact us
                        .card-body
                            .pb-1
                                h5 Commodi quas veritatis voluptate totam quidem similique.
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit delectus incidunt eligendi quae repudiandae eaque, cupiditate nam quas a eos rem minus totam. Nostrum, alias repudiandae harum architecto ducimus tempore.
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto saepe vero rem molestiae eaque laudantium placeat debitis esse dicta repudiandae aperiam illum, vel ullam id! Soluta esse odio possimus quae.
                            .pb-1
                                h5 Dicta vero cum ab totam sunt rerum libero dolores voluptates.
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque accusantium aut iure, possimus.
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, debitis? Quidem, voluptates repellat. Possimus ullam error debitis sint? Nobis maxime vero deleniti, praesentium pariatur expedita maiores. Expedita et reprehenderit consequuntur.

    .accordion-item.bg-transparent.border-0.mb-12.mb-md-0
        button.faq-opener.accordion-button.d-md-none.collapsed(data-bs-toggle="collapse" data-bs-target="#faqAcc_two" aria-expanded="false" aria-controls="faq_two") Orders &amp; payemnts
        #faqTab_two.tab-pane.fade
            #faqAcc_two.accordion-collapse.collapse
                .accordion-body.px-0.py-md-0
                    .card.card-noshadow-md.border-0.mb-3.mb-md-35
                        .card-header.border-bottom-0.pt-33.pb-0
                            .border-bottom
                                .row-title.pb-15
                                    h2.card-title Orders &amp; payemnts
                        .card-body
                            .pb-1
                                h5 Dicta vero cum ab totam sunt rerum libero dolores voluptates.
                                p Officia qui similique commodi corrupti nemo labore, saepe aut suscipit aspernatur ex omnis velit accusamus debitis eligendi in amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore odio accusantium.
                                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto saepe vero rem molestiae eaque laudantium placeat debitis esse dicta repudiandae aperiam illum, vel ullam id! Soluta esse odio possimus quae.
                                p Nostrum, alias repudiandae harum architecto ducimus tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit delectus incidunt eligendi quae repudiandae eaque, cupiditate nam quas a eos rem minus totam.
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, debitis? Quidem, voluptates repellat. Possimus ullam error debitis sint? Nobis maxime vero deleniti, praesentium pariatur expedita maiores. Expedita et reprehenderit consequuntur.

    .accordion-item.bg-transparent.border-0.mb-12.mb-md-0
        button.faq-opener.d-md-none.accordion-button.collapsed(data-bs-toggle="collapse" data-bs-target="#faqAcc_three" aria-expanded="false" aria-controls="faq_three") Delivery Costs
        #faqTab_three.tab-pane.fade
            #faqAcc_three.accordion-collapse.collapse
                .accordion-body.px-0.py-md-0
                    .card.card-noshadow-md.border-0.mb-3.mb-md-35
                        .card-header.border-bottom-0.pt-33.pb-0
                            .border-bottom
                                .row-title.pb-15
                                    h2.card-title Newitts Delivery Costs
                        .card-body
                            p To find out when you will receive your order please check your order confirmation which was emailed to you after completing the checkout process
                            h5 Standard Delivery - From £6.95 per order
                            p 2-3 working days for delivery of "In Stock" items. #[br] Any item on your order confirmation with an availability of "Ships in 2 Weeks or "Ships in 3 weeks" will follow in a later delivery.
                            .pb-1
                                h5 Express Delivery - From £12.95 per order #[small (Please note our daily cut off time for express orders is 4pm)]
                                p Next working day (Monday-Friday) for "In Stock" items. #[br] Please note weekends and bank holidays are excluded and addresses outside the UK Mainland are NOT guaranteed. Orders placed after 4pm on Thursday would leave on Friday for delivery Monday.
                                p Orders going to areas such as the Scottish Highlands and Northern Ireland will not be a guaranteed next working day service, please allow approximately 2 working days for your goods to arrive.
                                p #[i.small #[u Any item on your order confirmation with an availability of "Ships in 2 Weeks or "Ships in 3 weeks" will follow in a later delivery.]]
                            .pb-1
                                h5 Collect from Warehouse
                                p A collect form warehouse option is available if you wish to come and pick your order up. Collections can be made between 8am and 4pm from Newitt &amp; Co Ltd, Claxton Hall. Flaxton, York, YO60 7RE. We are open 7.30am to 4.30pm Monday to Friday only excluding bank holidays.
                                p Please check when selecting to collect your order that all items are marked as "In Stock" under the availability column on the shopping basket. If the item(s) are not in stock you will be emailed when they are ready for collection.
                            .pb-1
                                h5 European and International Delivery - Courier only - From £13.20 per order
                                p 7 to 10 workings days - Please note that your order will be shipped complete, the availability of each item is shown on your order confirmation.
    .accordion-item.bg-transparent.border-0.mb-12.mb-md-0
        button.faq-opener.accordion-button.d-md-none.collapsed(data-bs-toggle="collapse" data-bs-target="#faqAcc_four" aria-expanded="false" aria-controls="faq_four") Returns policy
        #faqTab_four.tab-pane.fade
            #faqAcc_four.accordion-collapse.collapse
                .accordion-body.px-0.py-md-0
                    .card.card-noshadow-md.border-0.mb-3.mb-md-35
                        .card-header.border-bottom-0.pt-33.pb-0
                            .border-bottom
                                .row-title.pb-15
                                    h2.card-title Returns policy
                        .card-body
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto saepe vero rem molestiae eaque laudantium placeat debitis esse dicta repudiandae aperiam illum, vel ullam id! Soluta esse odio possimus quae.
                            .pb-1
                                h5 Officia qui similique commodi corrupti nemo labore
                                p Saepe aut suscipit aspernatur ex omnis velit accusamus debitis eligendi in amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore odio accusantium.
                                p Nostrum, alias repudiandae harum architecto ducimus tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit delectus incidunt eligendi quae repudiandae eaque, cupiditate nam quas a eos rem minus totam.
