.product-details.pt-7.pt-lg-55.pb-lg-3
    .container-xxl
        #product_detail_section.product_detail_section.accordion-to-tabs
            ul.nav.nav-tabs.d-none.d-lg-flex
                li: button.nav-link.active(data-bs-toggle="tab" data-bs-target="#productDetailOne" type="button" role="tab" aria-selected="false") Details
                li: button.nav-link(data-bs-toggle="tab" data-bs-target="#productDetailTwo" type="button" role="tab" aria-selected="false") Availability
                li: button.nav-link(data-bs-toggle="tab" data-bs-target="#productDetailThree" type="button" role="tab" aria-selected="false") Shipping &amp; Returns 
                li: button.nav-link(data-bs-toggle="tab" data-bs-target="#productDetailFour" type="button" role="tab" aria-selected="false") Reviews
            #product_detail_block.product_detail_block.accordion
                .accordion-item.bg-transparent.mb-12.mb-lg-0
                    button.product_detail-opener.accordion-button.d-lg-none.collapsed(data-bs-toggle="collapse" data-bs-target="#productDetail_accOne" aria-expanded="false" aria-controls="productDetailOne") Details
                    #productDetailOne.tab-pane.fade.show.active
                        #productDetail_accOne.accordion-collapse.collapse
                            .accordion-body
                                .card.border-0.shadow-none
                                    .card-body
                                        h2
                                            | Gola Rey VX Firm 
                                            br
                                            | Ground Football Boot
                                        p The Gola Rey VX FG football boot is a great choice for any player looking for a quality, affordable football boot.
                                        p The upper is made from synthetic materials that provide superior ball feel and great comfort. The outsole is designed for use on firm ground pitches and features moulded studs for excellent traction.
                                        p These football boots are available in sizes 6-12. 
                                        h3 Features
                                        ul
                                            li Synthetic leather upper.
                                            li Quality stitching detailing.
                                            li 3G/4G and grass football boot.
                                            li Moulded stud construction suitable for firm ground. 
                .accordion-item.bg-transparent.mb-12.mb-lg-0
                    button.product_detail-opener.accordion-button.d-lg-none.collapsed(data-bs-toggle="collapse" data-bs-target="#productDetail_accTwo" aria-expanded="false" aria-controls="productDetailTwo") Availability
                    #productDetailTwo.tab-pane.fade
                        #productDetail_accTwo.accordion-collapse.collapse
                            .accordion-body
                                .table-responsive
                                    table.table.table-striped
                                        thead 
                                            tr 
                                                each item in ['Item Code', 'Size', 'Colour', 'Available', 'Price', 'Price Ext vat', 'Manufacturer Part Code', 'EAN']
                                                    th= item
                                        tbody
                                            tr 
                                                each item in ['IT064870', 'Medium', 'Black/White', '0', '£19.99', '£16.66', 'AMA664', '5053087610001']
                                                    td= item
                                            tr 
                                                td IT064870
                                                td Medium
                                                td Black/White
                                                td 0
                                                td £19.99
                                                td £16.66
                                                td AMA664
                                                td 5053087610001
                                            tr 
                                                td IT064870
                                                td Medium
                                                td Black/White
                                                td 0
                                                td £19.99
                                                td £16.66
                                                td AMA664
                                                td 5053087610001
                                            tr 
                                                td IT064870
                                                td Medium
                                                td Black/White
                                                td 0
                                                td £19.99
                                                td £16.66
                                                td AMA664
                                                td 5053087610001
                                            tr 
                                                td IT064870
                                                td Medium
                                                td Black/White
                                                td 0
                                                td £19.99
                                                td £16.66
                                                td AMA664
                                                td 5053087610001
                                            tr 
                                                td IT064870
                                                td Medium
                                                td Black/White
                                                td 0
                                                td £19.99
                                                td £16.66
                                                td AMA664
                                                td 5053087610001
                                            tr 
                                                td IT064870
                                                td Medium
                                                td Black/White
                                                td 0
                                                td £19.99
                                                td £16.66
                                                td AMA664
                                                td IT064870
                .accordion-item.bg-transparent.mb-12.mb-lg-0
                    button.product_detail-opener.d-lg-none.accordion-button.collapsed(data-bs-toggle="collapse" data-bs-target="#productDetail_accThree" aria-expanded="false" aria-controls="productDetailThree") Shipping &amp; Returns 
                    #productDetailThree.tab-pane.fade
                        #productDetail_accThree.accordion-collapse.collapse
                            .accordion-body
                                .card.border-0.shadow-none
                                    .card-body
                                        h2
                                            | Deleniti quasi et fugiat
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quasi et fugiat ullam non repudiandae voluptatem nulla iure accusamus saepe? Asperiores, iste soluta temporibus rem voluptas nobis consequatur eveniet accusamus.
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eum reprehenderit reiciendis, ex facere corporis. Dolores iste cum reprehenderit illo, suscipit nemo, nihil ad maxime ipsa debitis, deleniti inventore. Assumenda.
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum fugit harum ab dolores odit repellat fugiat? Tenetur repudiandae saepe eligendi ea dolor totam eaque magni, necessitatibus dolores magnam earum iure!

                .accordion-item.bg-transparent.mb-12.mb-lg-0
                    button.product_detail-opener.accordion-button.d-lg-none.collapsed(data-bs-toggle="collapse" data-bs-target="#productDetail_accFour" aria-expanded="false" aria-controls="productDetailFour") Reviews
                    #productDetailFour.tab-pane.fade
                        #productDetail_accFour.accordion-collapse.collapse
                            .accordion-body
                                .card.border-0.shadow-none
                                    .card-body
                                        h2
                                            | Rerum fugit harum ab dolores
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, unde eligendi asperiores nobis dolore molestiae? Aspernatur corporis praesentium nam incidunt eligendi deleniti tempore sapiente, aliquid cupiditate repellendus pariatur harum ratione.
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, quod sunt aliquam voluptas quibusdam ab ut odio quasi. Veniam suscipit distinctio quod ipsam repellendus quia provident cum ducimus, harum aliquid!
