.search-box.input-group(class=''+ inputGroupMargin)
  input.form-control(type='search' aria-label='Search brands' placeholder=''+placeholderSearchRight)
  .form-clear
    button.btn-close.btn-delete(type="reset" aria-label="Close") Close
    span.separator |
  button.input-group-text(type="button" aria-label="Close")
    <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg><span class="name"> icon-search</span>