.search-box.input-group(class=''+ inputGroupMargin)
  span(id="search-header_"+searchHeaderId).input-group-text
    <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg><span class="name"> icon-search</span>
  input.form-control(type='search'  placeholder=''+placeholderSearchLeft, aria-label='Search' aria-describedby='search-header_'+searchHeaderId)
