option Select country
option(value='AU') Australia
option(value='CA') Canada
option(value='GG') Channel Islands
option(value='HK') Hong Kong
option(value='IS') Iceland
option(value='JP') Japan
option(value='MT') Malta
option(value='MC') Monaco
option(value='NO') Norway
option(value='SG') Singapore
option(value='AE') United Arab Emirates
option(value='GB') United Kingdom
option(value='US') United States