//- a.btn-delete.btn.btn-sm.btn-outline-secondary.mb-2(href='#')
button.btn-delete.btn.btn-outline-secondary.mb-1(type='reset')
    <svg class="icon icon-delete"><use xlink:href="#icon-delete"></use></svg><span class="name"> icon-delete</span>
    span.visually-hidden Delete item