section.widget
    a.btn-checkout.btn.btn-lg.btn-warning.text-white.text-start.d-block(href="#") 
        .row.align-items-center.gx-2
            .col.pe-0
                strong.btn-title.h6.fw-bold.text-white.text-uppercase Continue to checkout
            .col-auto
                span.ico-circle
                    svg.icon.icon-chevron-right
                        use(xlink:href='#icon-chevron-right')
                    span.name  icon-chevron-right
