section.card-order.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-4
    .card-header.border-bottom-0.pb-lg-0
        .border-bottom.py-3.pt-lg-33.pb-xl-35
            h5.card-title.mb-0.mb-lg-1 Order Summary
    .card-body
        table.table.table-order.table-order-summary.fw-semibold.mb-0
            tbody
                tr
                    td #[span.opacity-50 Payment Method]
                    td Newitts Credit Account
                tr
                    td #[span.opacity-50 Goods Total]
                    td £2,836.00
                tr
                    td #[span.opacity-50 Delivery]
                    td Free
                tr
                    td #[span.opacity-50 VAT (20%)]
                    td £124.00
            tfoot
                tr
                    td: strong.fw-bold Total
                    td: strong.fw-bold £3,142.95
