section.card-returning.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-4
    .card-header.border-bottom-0.pb-lg-0
        .border-bottom.py-3.pb-xl-4
            h3.card-title.h5.mb-0 Items you are returning
    .card-body
        //- product block
        .product-block.py-3
            .product-row.row.gx-35
                .col-sph-auto
                    .img-product.mb-3.mb-lg-1
                        +retinaJpg2x({
                            imgName: 'img-card_product-02',
                            imgWidth: '115',
                            imgHeight: '115',
                            alt: ''
                        })
                .col
                    +productBlock({
                        titleProduct: 'Gray Nicolls Test Originals',
                        propertiesProduct: '',
                        codeCatalogue: '',
                        categoryProduct: ''
                    })

        //- product block
        .product-block.py-3
            .product-row.row.gx-35
                .col-sph-auto
                    .img-product.mb-3.mb-lg-1
                        +retinaJpg2x({
                            imgName: 'img-card_product-01',
                            imgWidth: '115',
                            imgHeight: '115',
                            alt: ''
                        })
                .col
                    +productBlock({
                        titleProduct: 'Gray Nicolls Test Originals',
                        propertiesProduct: '',
                        codeCatalogue: '',
                        categoryProduct: ''
                    })

