.card-product-checkout.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-3.mb-md-35
    .card-header.border-bottom-0.pt-33.pb-0
        .card-header-holder.border-bottom.mb-0
            .row-title.pb-2
                h2.card-title.h5 Returned Items -
                    time(datetime="2022-11-28T14:00:00") 28/11/2022 14:00:00
                strong.return-status.small.fw-medium.d-block.text-uppercase Awaiting Authorization
    .card-body
        .table-responsive
            table.table.table-returned
                thead
                    tr
                        th.text-dark.opacity-60 Item
                        th.text-dark.opacity-60 Return Quantity
                        th.text-dark.opacity-60 Return Reason
                tbody
                    tr
                        td
                            .product-row.row.flex-nowrap.gx-35
                                .col-auto
                                    .img-product
                                        +retinaJpg2x({
                                            imgName: 'img-card_product-02',
                                            imgWidth: '95',
                                            imgHeight: '95',
                                            alt: ''
                                        })
                                .col
                                    +productBlock({
                                        titleProduct: 'Gray Nicolls Test Originals',
                                        propertiesProduct: '',
                                        codeCatalogue: '',
                                        categoryProduct: ''
                                    })
                        td 1
                        td Faulty Item
                    tr
                        td
                            .product-row.row.flex-nowrap.gx-35
                                .col-auto
                                    .img-product
                                        +retinaJpg2x({
                                            imgName: 'img-card_product-01',
                                            imgWidth: '95',
                                            imgHeight: '95',
                                            alt: ''
                                        })
                                .col
                                    +productBlock({
                                        titleProduct: 'Gray Nicolls Test Originals',
                                        propertiesProduct: '',
                                        codeCatalogue: '',
                                        categoryProduct: ''
                                    })
                        td 1
                        td I ordered the wrong item
