.card-product-checkout.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-3.mb-md-35
    .card-header.border-bottom-0.pt-33.pb-0
        .card-header-holder.border-bottom
            .row-title.row.justify-content-between.align-items-center.pb-2.gx-3
                .col-md-6.col-xl-7
                    h2.card-title.h5 Items
                .col-md-6.col-xl-5.d-none.d-md-block.px-0
                    .row.text-center.gx-3
                        .col-md-4
                            strong.small.text-dark.opacity-60 Price
                        .col-md-4
                            strong.small.text-dark.opacity-60 Quantity
                        .col-md-4
                            strong.small.text-dark.opacity-60 Total

    .card-body.pt-0.pb-2
        //- product block
        .product-block.pt-4.pt-xl-5.pb-3.pb-xl-33
            .row.justify-content-between.gx-3
                .col-md-6.col-xl-7
                    .product-row.row.gx-35
                        .col-sph-auto
                            .img-product.mb-3.mb-lg-1
                                +retinaJpg2x({
                                    imgName: 'img-card_product-02',
                                    imgWidth: '115',
                                    imgHeight: '115',
                                    alt: ''
                                })
                        .col
                            +productBlock({
                                titleProduct: 'Gray Nicolls Test Originals',
                                propertiesProduct: ' Orange/Size 7',
                                codeCatalogue: 'IT084346',
                                categoryProduct: 'Category'
                            })

                            .d-md-none
                                +itemQuantity()

                            .d-md-none
                                +sumTotal()

                        .col-auto.d-md-none
                            strong.price.fw-semibold £28.00

                // duplicate components to implement the design for the desktop
                .col-md-6.col-xl-5.d-none.d-md-block.px-0
                    .fake-table-row.text-center
                        .row.align-items-center.gx-2.gx-xl-3
                            .col-md-4
                                strong.price.fw-semibold £28.00
                            .col-md-4
                                strong.quantity.fw-semibold 12
                            .col-md-4
                                strong.price.fw-semibold £336.00

        //- product block
        .product-block.pt-4.pt-xl-5.pb-3.pb-xl-33
            .row.justify-content-between.gx-3
                .col-md-6.col-xl-7
                    .product-row.row.gx-35
                        .col-sph-auto
                            .img-product.mb-3.mb-lg-1
                                +retinaJpg2x({
                                    imgName: 'img-card_product-06',
                                    imgWidth: '115',
                                    imgHeight: '115',
                                    alt: ''
                                })
                        .col
                            +productBlock({
                                titleProduct: 'Fitness Bee Mat School Landing Area',
                                propertiesProduct: ' Orange/Size 7',
                                codeCatalogue: 'IT084346',
                                categoryProduct: 'Category'
                            })

                            .d-md-none
                                +itemQuantity()

                            .d-md-none
                                +sumTotal()

                        .col-auto.d-md-none
                            strong.price.fw-semibold £28.00

                // duplicate components to implement the design for the desktop
                .col-md-6.col-xl-5.d-none.d-md-block.px-0
                    .fake-table-row.text-center
                        .row.align-items-center.gx-2.gx-xl-3
                            .col-md-4
                                strong.price.fw-semibold £28.00
                            .col-md-4
                                strong.quantity.fw-semibold 12
                            .col-md-4
                                strong.price.fw-semibold £336.00

        //- productblock
        .product-block.pt-4.pt-xl-5.pb-3.pb-xl-33
            .row.justify-content-between.gx-3
                .col-md-6.col-xl-7
                    .product-row.row.gx-35
                        .col-sph-auto
                            .img-product.mb-3.mb-lg-1
                                +retinaJpg2x({
                                    imgName: 'img-card_product-07',
                                    imgWidth: '115',
                                    imgHeight: '115',
                                    alt: ''
                                })
                        .col
                            +productBlock({
                                titleProduct: 'Gray Nicolls Test Originals',
                                propertiesProduct: ' Orange/Size 7',
                                codeCatalogue: 'IT084346',
                                categoryProduct: 'Category'
                            })

                            .d-md-none
                                +itemQuantity()

                            .d-md-none
                                +sumTotal()

                        .col-auto.d-md-none
                            strong.price.fw-semibold £28.00

                // duplicate components to implement the design for the desktop
                .col-md-6.col-xl-5.d-none.d-md-block.px-0
                    .fake-table-row.text-center
                        .row.align-items-center.gx-2.gx-xl-3
                            .col-md-4
                                strong.price.fw-semibold £28.00
                            .col-md-4
                                strong.quantity.fw-semibold 12
                            .col-md-4
                                strong.price.fw-semibold £336.00

