.card-description.card-fullwidth-m.card.card-noshadow-mobile.border-0
    .card-body
        p Newitts is the perfect place to find all the football kit and equipment you need. We've got everything you need to get kitted out for your next match, from boots and balls to shirts and socks.
        p We only stock the highest quality products from the best brands, so you can be sure you're getting the best possible gear. And our prices are unbeatable too - so you can get kitted out without breaking the bank.
        p So whether you're a seasoned pro or a complete beginner, Newitts has everything you need to enjoy the beautiful game. Come and see us today - you won't be disappointed!