.card-partners-logo.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-53.mb-md-35
    .card-body
        .py-1
            .row.gx-35
                .col-auto
                    .img-holder.rounded-1.overflow-hidden
                        +imgPng2x({
                            imgName: 'logo-stripe',
                            imgWidth: '124',
                            imgHeight: '34',
                            alt: 'Powered by Stripe'
                        })
                .col-auto
                    .img-holder
                        +imgPng2x({
                            imgName: 'logo-pci-dss-compliant',
                            imgWidth: '89',
                            imgHeight: '34',
                            alt: 'pci DSS Compliant'
                        })
