section.card-order.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-4
    .card-header.border-bottom-0.pb-lg-0
        .border-bottom.py-3.pb-xl-4
            h3.card-title.mb-0 Your order
    .card-body
        table.table.table-order.fw-semibold.mb-0
            tbody
                tr
                    td Item total
                    td £2,836.00
                tr
                    td VAT (20%)
                    td £124.00
                tr
                    td Shipping
                    td Free
                tr
                    td Discount
                    td #[span.opacity-60 None]
            tfoot
                tr
                    td: strong.fw-bold Total
                    td #[strong.lead.fw-bold.text-danger £3,142.95]
        if inputPromoBlock === true
            .promo-block.border-top.pt-4
                .promo-input-group.input-focus.input-group.mb-3
                    input.form-control(type='text' placeholder="Promo code" aria-label="Recipient's username" aria-describedby='button-promo')
                    button#button-promo.btn.btn-secondary-light(type='button')
                        span.visually-hidden Button
                        i.icon.icon-arrow-right