.card-product-checkout.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-3.mb-md-35
    .card-header.border-bottom-0.pt-33.pb-0
        .card-header-holder.border-bottom
            .row-title.pb-2
                h2.card-title.h5 Items

    .card-body
        //- product block
        .product-block.pt-4.pb-3.pb-xl-33
            .check-input-return.card.shadow-none.mb-3.mb-xl-35
                .card-body
                    .product-row.row.flex-nowrap.gx-35
                        .col-auto
                            input.form-check-input(id="product_return_01" type="checkbox")
                        .col-auto
                            .img-product
                                +retinaJpg2x({
                                    imgName: 'img-card_product-02',
                                    imgWidth: '115',
                                    imgHeight: '115',
                                    alt: ''
                                })
                        .col
                            +productBlock({
                                titleProduct: '1 x Gray Nicolls Test Originals',
                                propertiesProduct: '',
                                codeCatalogue: '',
                                categoryProduct: ''
                            })
                label.label-input(for="product_return_01")

                //- select reason block
            .row.align-items-center.mb-15
                .col-auto
                    label.form-label.my-15(for="select_return_reason_product_01") Why do you want return this?
                .col-auto
                    select.form-select(id="select_return_reason_product_01" aria-label="Select return reason")
                        option I ordered the wrong item
                        option I ordered the too many items
                        option Faulty Item

        //- product block
        .product-block.pt-4.pb-3.pb-xl-33
            .check-input-return.card.shadow-none.mb-3.mb-xl-35
                .card-body
                    .product-row.row.flex-nowrap.gx-35
                        .col-auto
                            input.form-check-input(id="product_return_02" type="checkbox")
                        .col-auto
                            .img-product
                                +retinaJpg2x({
                                    imgName: 'img-card_product-01',
                                    imgWidth: '115',
                                    imgHeight: '115',
                                    alt: ''
                                })
                        .col
                            +productBlock({
                                titleProduct: '2 x Gray Nicolls Test Originals',
                                propertiesProduct: '',
                                codeCatalogue: '',
                                categoryProduct: ''
                            })
                label.label-input(for="product_return_02")

            //- select reason block
            .row.align-items-center.mb-15
                .col-auto
                    label.form-label.my-15(for="select_return_reason_product_02") Why do you want return this?
                .col-auto
                    select.form-select(id="select_return_reason_product_02" aria-label="Select return reason")
                        option I ordered the wrong item
                        option I ordered the too many items
                        option Faulty Item
