section.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-4
    .card-header.border-bottom-0.pb-lg-0
        .border-bottom.py-3.pt-lg-33.pb-xl-35
            h5.card-title.mb-0.mb-lg-1 Please confirm
    .card-body
        label.form-label(for="return_confirm") Return reason details:
        textarea.form-control.mb-3(id="return_confirm" cols="30", rows="6")
