.card-contact.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-53.mb-md-35
    .card-header.border-bottom-0.pt-33.pb-0
        .border-bottom
            .row-title.pb-2
                h2.h5 Payment details
                small.fw-medium.d-block.text-secondary.mb-xl-12 Enter your payment details and click Confirm Order
    .card-body
        .row.gx-3.gy-3
            .col-12
                label.form-label(for="payment_card_number") Credit or debit card number
                input.form-control(id="payment_card_number" type="tel" placeholder="0000 0000 0000 0000")
            .col-md-6
                label.form-label(for="payment_card_expiry_date") Expiry date
                input.form-control(id="payment_card_expiry_date" type="text" placeholder="MM/YY")
            .col-md-6
                label.form-label(for="payment_card_cvc") CVC
                input.form-control(id="payment_card_cvc" type="tel" placeholder="CVC")
            .col-12
                .pt-15
                    button.btn-checkout.btn.btn-lg.btn-warning.text-white.w-100.mb-3(type='submit') 
                        span.ico-holder
                            svg.icon.icon-creditcard
                                use(xlink:href='#icon-creditcard')
                            span.name  icon-creditcard
                        strong.h6.fw-bold.text-white.text-uppercase.mb-0 Confirm order


