.card-category.card-fullwidth-m.card.card-noshadow-mobile.border-0.mb-53.mb-md-35
    .card-header.border-bottom-0.pb-0
        .row-title.row.justify-content-between.align-items-center
            .col-auto
                h2.card-title.h5 Showing 52 results
            .col-auto.ms-auto.text-end
                .sort-block.d-none.d-md-inline-flex.mb-15
                    include _sort_block

                button.btn-filter.btn.btn-sm.btn-outline-dark.rounded-pill.height-auto.d-md-none.mb-15(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters")
                    | FILTERS
                    span.number-info.text-light-500 (1)

    .card-body
        include ../templates/_cards_category