section.widget.widget-checkout
    h3.widget-title.h5 Checkout with
    .vstack.gap-33.mb-4
        .vstack-row
            a.btn.btn-checkout.btn-info-300.text-start.d-block(href="#") 
                .row.align-items-center.gx-2
                    .col-auto
                        .icon-box
                            img(src='images/ico-card.svg', alt='image description', width='21' height='15')
                    .col
                        strong.btn-title.h6 Checkout with card
                        small.opacity-70 Debit and credit cards accepted
                    .col-auto
                        span.ico-circle
                            svg.icon.icon-chevron-right
                                use(xlink:href='#icon-chevron-right')
                            span.name  icon-chevron-right
        .vstack-row
            a.btn.btn-checkout.btn-warning-yellow.text-start.d-block(href="#") 
                .row.align-items-center.gx-2
                    .col-auto
                        .icon-box
                            +imgPng2x({
                                imgName: 'logo-paypal',
                                imgWidth: '24',
                                imgHeight: '24',
                                alt: 'paypal'
                            })
                    .col
                        strong.btn-title.h6 Checkout with Paypal
                        small.opacity-70 Pay with your Paypal account
                    .col-auto
                        span.ico-circle
                            svg.icon.icon-chevron-right
                                use(xlink:href='#icon-chevron-right')
                            span.name  icon-chevron-right
            small.d-block Pay in 3 interest free payments of 23,00 #[a(href="#") Learn more]
        .vstack-row
            a.btn.btn-checkout.btn-dark.text-start.d-block(href="#")
                .row.align-items-center.gx-2
                    .col-auto
                        .icon-box
                            img(src='images/logo-newitts-credit.svg', alt='image description', width='21' height='14')
                    .col
                        strong.btn-title.h6 Checkout with Newitts Credit
                        small 30 days credit account
                    .col-auto
                        span.ico-circle
                            svg.icon.icon-chevron-right
                                use(xlink:href='#icon-chevron-right')
                            span.name  icon-chevron-right
            small.d-block All Schools, Clubs and Government Departments
