// The base structure of slider is from this source https://refreshless.com/nouislider/
#range_slider.range-slider.slider-horizontal
	.slider-base
		.slider-connects
			.slider-connect
		.slider-origin(style="transform: translate(-100%, 0px); z-index: 5;")
			.slider-handle.slider-handle-lower(data-handle='0' tabindex='0' role='slider' aria-orientation='horizontal' aria-valuemin='0' aria-valuemax='100' aria-valuenow='10' aria-valuetext='10')
				.slider-touch-area
		.slider-origin(style="transform: translate(0%, 0px); z-index: 4;")
			.slider-handle.slider-handle-upper(data-handle='1' tabindex='0' role='slider' aria-orientation='horizontal' aria-valuemin='0' aria-valuemax='100' aria-valuenow='70' aria-valuetext='70')
				.slider-touch-area