ul.social-list
    li
        a(href="#")
            <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg><span class="name"> icon-instagram</span>
    li
        a(href="#")
            <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg><span class="name"> icon-facebook</span>
    li
        a(href="#")
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg><span class="name"> icon-youtube</span>
    li
        a(href="#")
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg><span class="name"> icon-twitter</span>