label(for='sortBy') SORT BY:
select(id="sortBy")
    option Interest
    option Demand
    option Price: Low to high
    option Price: High to low
    option Alphabetical: A to Z
    option Alphabetical: Z to A