.section-checkout-list.section.text-center.py-3.pt-xl-0.pb-xl-2
    .container-xxl
        ol.steps-checkout.row.justify-content-center.d-inline-flex.gx-3
            li.col.step-checked
                a.step-name(href="#") Basket
            li.col.step-checked
                a.step-name(href="#") Delivery Details
            li.col.step-active
                a.step-name(href="#") Pay
            li.col
                a.step-name(href="#") Complete
