//- Slider main container
.swiper.swiper-brands.mb-15.mb-lg-3.mb-xl-35
	//- Additional required wrapper
	.swiper-wrapper
		//- Slides
		.swiper-slide
			+cardBrand({
				addClassCard: 'shadow-none',
				addImgClass: '',
				imgName: 'logo-ziland',
				imgWidth: '112',
				imgHeight: '16',
				imgExt: 'svg',
				alt: 'ziland'
			})

		.swiper-slide
			+cardBrand({
				addClassCard: 'shadow-none',
				addImgClass: '',
				imgName: 'logo-adidas',
				imgWidth: '74',
				imgHeight: '50',
				imgExt: 'png',
				alt: 'adidas'
			})

		.swiper-slide
			+cardBrand({
				addClassCard: 'shadow-none',
				addImgClass: '',
				imgName: 'logo-apollo',
				imgWidth: '108',
				imgHeight: '32',
				imgExt: 'svg',
				alt: 'apollo'
			})

		.swiper-slide
			+cardBrand({
				addClassCard: 'shadow-none',
				addImgClass: '',
				imgName: 'logo-nike',
				imgWidth: '92',
				imgHeight: '33',
				imgExt: 'png',
				alt: 'nike'
			})

		.swiper-slide
			+cardBrand({
				addClassCard: 'shadow-none',
				addImgClass: '',
				imgName: 'logo-elders',
				imgWidth: '115',
				imgHeight: '32',
				imgExt: 'svg',
				alt: 'elders'
			})

		.swiper-slide
			+cardBrand({
				addClassCard: 'shadow-none',
				addImgClass: '',
				imgName: 'logo-mitre',
				imgWidth: '93',
				imgHeight: '29',
				imgExt: 'png',
				alt: 'mitre'
			})

	//- pagination
	//- .swiper-pagination
	//- navigation buttons
	//- .swiper-button-prev
	//- .swiper-button-next
	//- scrollbar
	.swiper-scrollbar-container.d-lg-none
		.swiper-scrollbar
