//- Slider main container
.swiper.swiper-esentials.mb-3.mb-lg-0
	//- Additional required wrapper
	.swiper-wrapper
		//- Slides
		.swiper-slide
			+cardText({
                addClassCard: 'shadow-none',
				addImgClass: '',
                imgName: 'img-card_text-01',
                imgWidth: '373',
                imgHeight: '350',
                title: 'Wilson Sports',
                text: 'Consectetur adipiscing elit. Sit vitae at vestibulum dolor arcu nisl dapibus eleifend tristique, odio semper sit.'
            })

		.swiper-slide
			+cardText({
                addClassCard: 'shadow-none',
				addImgClass: '',
                imgName: 'img-card_text-02',
                imgWidth: '373',
                imgHeight: '350',
                title: 'Play Equipment',
                text: 'Consectetur adipiscing elit. Sit vitae at vestibulum dolor arcu nisl dapibus eleifend tristique, odio semper sit.'
            })

		.swiper-slide
			+cardText({
				addClassCard: 'shadow-none',
				addImgClass: '',
				imgName: 'img-card_text-03',
				imgWidth: '373',
				imgHeight: '350',
				title: 'Ziland Sports',
				text: 'Consectetur adipiscing elit. Sit vitae at vestibulum dolor arcu nisl dapibus eleifend tristique, odio semper sit.'
			})

	//- pagination
	//- .swiper-pagination
	//- navigation buttons
	//- .swiper-button-prev
	//- .swiper-button-next
	//- scrollbar
	.swiper-scrollbar-container.d-lg-none
		.swiper-scrollbar
