//- Slider main container
.swiper.swiper-products.mb-3.mb-xl-35
	//- Additional required wrapper
	.swiper-wrapper
		//- Slides
		-for (var i = 0; i < 1; i++)
			.swiper-slide
				+cardProduct({
					addClassCard: 'shadow-none',
					addImgClass: '',
					imgName: 'img-card_product-07',
					imgWidth: '275',
					imgHeight: '275',
					favorite: true,
					addClassFavorite: 'favorite-link',
					iconFavoriteName: 'heart',
					iconFavoriteID: 'just01',
					addBadgeClass: '',
					badge: '',
					title: 'Gilbert Breathable 12 Ball Bag',
					price: '£24.00',
					oldPrice: '',
					qtyReviews: '(58)',
					rating: true,
					addRatingClass: '',
					currentRating: '4'
				})

			.swiper-slide
				+cardProduct({
					addClassCard: 'shadow-none',
					addImgClass: '',
					imgName: 'img-card_product-09',
					imgWidth: '275',
					imgHeight: '275',
					favorite: true,
					addClassFavorite: 'favorite-link',
					iconFavoriteName: 'heart',
					iconFavoriteID: 'just02',
					addBadgeClass: '',
					badge: '',
					title: 'Ziland Hybrid Water Bottle',
					price: '£24.00',
					oldPrice: '',
					qtyReviews: '(58)',
					rating: true,
					addRatingClass: '',
					currentRating: '4'
				})

			.swiper-slide
				+cardProduct({
					addClassCard: 'shadow-none',
					addImgClass: '',
					imgName: 'img-card_product-06',
					imgWidth: '275',
					imgHeight: '275',
					favorite: true,
					addClassFavorite: 'favorite-link',
					iconFavoriteName: 'heart',
					iconFavoriteID: 'just03',
					addBadgeClass: '',
					badge: '',
					title: 'Gilbert G TR400',
					price: '£24.00',
					oldPrice: '',
					qtyReviews: '(58)',
					rating: true,
					addRatingClass: '',
					currentRating: '4'
				})

			.swiper-slide
				+cardProduct({
					addClassCard: 'shadow-none',
					addImgClass: '',
					imgName: 'img-card_product-08',
					imgWidth: '275',
					imgHeight: '275',
					favorite: true,
					addClassFavorite: 'favorite-link',
					iconFavoriteName: 'heart',
					iconFavoriteID: 'just04',
					addBadgeClass: '',
					badge: '',
					title: 'Gola Rey VX Soft Ground Football Boot',
					price: '£24.00',
					oldPrice: '',
					qtyReviews: '(58)',
					rating: true,
					addRatingClass: '',
					currentRating: '4'
				})

	//- pagination
	//- .swiper-pagination
	//- navigation buttons
	.swiper-button-prev
	.swiper-button-next
	//- scrollbar
	.swiper-scrollbar-container.d-lg-none
		.swiper-scrollbar
