.js-swiper-sticky
    .js-swiper-sticky_inner
        .swiper-thumbs-container.mb-md-4
            .swiper-main-block
                .swiper.swiper-thumb-main
                    .swiper-wrapper
                        -for (var i = 0; i <5; i++)
                            .swiper-slide
                                .img-holder
                                    +retinaJpg2x({
                                        addImgClass: '',
                                        imgClass: '',
                                        imgName: 'img-product-01',
                                        imgWidth: '476',
                                        imgHeight: '475',
                                        alt: ''
                                    })
                            .swiper-slide
                                .img-holder
                                    +retinaJpg2x({
                                        addImgClass: '',
                                        imgClass: '',
                                        imgName: 'img-product-02',
                                        imgWidth: '476',
                                        imgHeight: '475',
                                        alt: ''
                                    })

                    //- pagination
                    .swiper-pagination.d-md-none

            .swiper-thumbs-block.d-none.d-md-block
                .swiper.swiper-thumbs(thumbsslider='')
                    .swiper-wrapper
                        -for (var i = 0; i <2; i++)
                            .swiper-slide
                                .img-product
                                    +imgJpg2x({
                                        imgName: 'thumb-product-01',
                                        imgWidth: '83',
                                        imgHeight: '83',
                                        alt: ''
                                    })
                            .swiper-slide
                                .img-product
                                    +imgJpg2x({
                                        imgName: 'thumb-product-02',
                                        imgWidth: '83',
                                        imgHeight: '83',
                                        alt: ''
                                    })
                            .swiper-slide
                                .img-product
                                    +imgJpg2x({
                                        imgName: 'thumb-product-03',
                                        imgWidth: '83',
                                        imgHeight: '83',
                                        alt: ''
                                    })
                            .swiper-slide
                                .img-product
                                    +imgJpg2x({
                                        imgName: 'thumb-product-04',
                                        imgWidth: '83',
                                        imgHeight: '83',
                                        alt: ''
                                    })
                            .swiper-slide
                                .img-product
                                    +imgJpg2x({
                                        imgName: 'thumb-product-05',
                                        imgWidth: '83',
                                        imgHeight: '83',
                                        alt: ''
                                    })

                    .swiper-button-next
                    .swiper-button-prev
