//- +brandsList([
  {
    item: "item"
  },
  {
    item: "item"
  },
  {
    item: "item"
  }
//- ])
mixin brandsList(obj)
    ul.brands-list
        each arr in obj
            li: a.badge(href="#" class=(arr.active ? 'active' : ''))= arr.item