//- +cardFly({
    addClassCard: 'shadow-none',
    addImgClass: 'card-img',
    imgName: 'img-01',
    imgWidth: '',
    imgHeight: '',
    alt: 'logo',
    subTitle: '',
    title: '',
    text: '',
    addBtnClass: 'btn-sm btn-light rounded-pill',
    btn: ''
//- })
mixin cardFly(obj)
    .card-fly.card(class=''+ obj.addClassCard)
        if (obj.imgName)
            +retinaJpg2x(obj)
        .card-body
            .hold
                if (obj.subTitle)
                    strong.subtitle!= obj.subTitle
                if (obj.title)
                    h2.card-title!= obj.title
                if (obj.text)
                    p!= obj.text
                if (obj.btn)
                    a.btn.mb-1(href="#" class=''+ obj.addBtnClass)= obj.btn
                        <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg><span class="name"> icon-arrow-right</span>

        //- .card-img-overlay
        //-     .hold
        //-         if (obj.subTitle)
        //-             strong.sub-title!= obj.subTitle
        //-         if (obj.title)
        //-             h2.card-title!= obj.title
        //-         if (obj.text)
        //-             p!= obj.text
        //-         if (obj.btn)
        //-             a.btn(href="#" class=''+ obj.addBtnClass)= obj.btn
        //-                 <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg><span class="name"> icon-arrow-right</span>
