//- +cardBrand({
    addClassCard: 'shadow-none',
    addImgClass: '',
    imgName: 'logo-',
    imgWidth: '',
    imgHeight: '',
    imgExt: '',
    alt: 'logo'
//- })
mixin cardBrand(obj)
    a.card-brand.card(href="#" class=''+ obj.addClassCard)
        .card-body
            if obj.imgExt == 'png'
                +imgPng2x(obj)
            else if obj.imgExt == 'svg'
                img(src='images/'+obj.imgName+'.'+obj.imgExt, alt=obj.imgAlt || "image description", width=''+obj.imgWidth, height=''+obj.imgHeight)
            else
                +imgJpg2x(obj)
