//- +iconLink({
	iconsName: 'heart',
	iconID: ''
//- })

mixin iconLink(obj)
	.ico-link
		a(href="#").ico-link
			svg.icon(class="icon-"+itemIcon)
				use(xlink:href="#icon-"+itemIcon)


//- +listIconsStatic({
	listIconsName: ['star', 'like'],
	iconID: ''
//- })
mixin iconStatic(obj)
	.ico-link
		span.ico-link
			svg.icon(class="icon-"+itemName)
				use(xlink:href="#icon-"+itemName)