//- +iconCheckbox({
	addClassFavorite: 'favorite-link',
	iconFavoriteName: 'heart',
	iconFavoriteID: '01'
//- })

mixin iconCheckbox(obj)
	.ico-checkbox(class=""+obj.addClassFavorite)
		label(for="mark_"+obj.iconFavoriteName+"_"+obj.iconFavoriteID)
			input(type="checkbox", id="mark_"+obj.iconFavoriteName+"_"+obj.iconFavoriteID)
			span.ico-link
				<svg width="14" height="12" viewBox="0 0 14 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M11.7368 1.47981C11.4631 1.21075 11.1382 0.997305 10.7805 0.851681C10.4229 0.706057 10.0396 0.631104 9.65248 0.631104C9.26537 0.631104 8.88205 0.706057 8.52442 0.851681C8.1668 0.997305 7.84187 1.21075 7.5682 1.47981L7.00025 2.03796L6.43229 1.47981C5.87951 0.936574 5.12977 0.631385 4.34801 0.631385C3.56625 0.631385 2.81651 0.936574 2.26373 1.47981C1.71094 2.02305 1.40039 2.75984 1.40039 3.5281C1.40039 4.29636 1.71094 5.03315 2.26373 5.57639L2.83168 6.13453L7.00025 10.2311L11.1688 6.13453L11.7368 5.57639C12.0106 5.30745 12.2278 4.98813 12.3759 4.63668C12.5241 4.28523 12.6004 3.90853 12.6004 3.5281C12.6004 3.14767 12.5241 2.77097 12.3759 2.41952C12.2278 2.06807 12.0106 1.74875 11.7368 1.47981V1.47981Z" stroke="#1C1C1C" stroke-width="1.2" stroke-linecap="square"/></svg>
				//- svg.icon(class="icon-"+obj.iconFavoriteName)
					use(xlink:href="#icon-"+obj.iconFavoriteName)
