//- +starRatingStatic({
	addRatingClass: 'rating-large',
	currentRating: '5'
//- })

mixin starRatingStatic(obj)
	.rating.rating-static(class=''+ obj.addRatingClass)
		.rating-holder
			span.star(class={active: obj.currentRating === '5'})
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			span.star(class={active: obj.currentRating === '4'})
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			span.star(class={active: obj.currentRating === '3'})
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			span.star(class={active: obj.currentRating === '2'})
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
			span.star(class={active: obj.currentRating === '1'})
				<svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
