$nav-icon-size: 37px;
$nav-icon-size-lg: 44px;

.showing .navbar-mega > .navbar-nav > .nav-item__main > .nav-link,
.show .navbar-mega > .navbar-nav > .nav-item__main > .nav-link {
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
}

.nav-item__main.active-item .nav-item__first > .nav-link,
.nav-item__first.active-item .nav-item__second > .nav-link {
    padding-top: calc($navbar-nav-link-padding-y - 4px);
    padding-bottom: calc($navbar-nav-link-padding-y - 4px);
}

.navbar-mega > .navbar-nav > .nav-item__main > .nav-link:focus,
.navbar-mega > .navbar-nav > .nav-item__main > .nav-link:hover,
.navbar-mega > .navbar-nav > .nav-item__main.active-item > .nav-link {
    font-weight: $font-weight-semibold;
}

.navbar-mega {
    overflow: hidden;
    width: 100%;
    position: relative;

    @media screen and (min-height: 460px) {
        height: 100% !important;
    }

    > ul {
        position: relative;
		width: 100%;
    }

    .nav-link {
        padding: 8px $navbar-nav-link-padding-x;
        position: relative;

        &:after {
            @include center-v;
            @include icon-icomoon("\e914", 14px);
            right: 20px;
        }

        &:before {
            content: "";
            position: absolute;
            left: $navbar-nav-link-padding-x;
            right: $navbar-nav-link-padding-x;
            bottom: 0;
            height: 1px;
            background: $navbar-item-border-color;
        }

        &.btn-back {
            .icon {
                opacity: 0.4;
                right: auto;
                left: 3px;
            }
        }

        .icon {
            @include center-v;
            right: 3px;
        }
    }

    .navbar-nav {
        height: 100%;
    }

    .dropdown-menu__first {
        .nav-link {
            padding-right: 32px;

            &:after {
                right: 10px;
            }

            &:before {
                right: 10px;
            }
        }
    }
}

.navbar-short {
    letter-spacing: $letter-spacing-base;
    text-transform: uppercase;

    .nav-item {
        padding-left: 5px;
        padding-right: 5px;

        @include media-breakpoint-up(xl) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .nav-link {
        font-weight: $font-weight-bold;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.navbar-nav {
    font-size: rem-calc(20);
    font-weight: $font-weight-medium;
    line-height: calc(22 / 20);

    .navbar-short & {
        font-size: rem-calc(13);
        line-height: calc(14 / 13);
        margin-left: -10px;
        margin-right: -10px;
    }

    .dropdown-menu__first &,
    .dropdown-menu__second & {
        font-size: rem-calc(16);
        line-height: calc(18 / 16);
    }

    > .nav-item {
        position: static;
    }

    .active-item {
        > .dropdown-menu {
            display: block !important;
        }
    }

    .dropdown-menu {
        background: $offcanvas-bg-color;
        border-radius: 0;
        box-shadow: none;
        font-size: rem-calc(16);
        line-height: calc(18 / 16);
        display: none !important;
        max-height: none;
        overflow-y: visible;
        padding-top: rem-calc(17);
        padding-bottom: 0;
        padding-right: 6px;
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;

        .dropdown-menu {
            left: 100%;
	        top: 0;
        }
    }

    .nav-link {
        @include animate(color background-color border opacity box-shadow padding, .45s, linear);

        &:focus,
        &:hover {
            background-color: transparent !important;
        }
    }
}

.nav-link {
    @include animate(color background-color border opacity box-shadow padding, .25s, linear);
    position: relative;

    &.btn-back {
        padding-left: 30px;
    }
}

.btn-back {
    @include link-color($nav-link-color, $nav-link-hover-color);
    display: block;
    font-size: rem-calc(20);
    margin: 0 0 16px;
    padding: 2px 20px 2px 40px;
    position: relative;

    &:before {
        @include icon-icomoon('\e913', 16px);
        @include center-v;
        left: 18px;
        opacity: 0.4;
        margin: 1px 0 0;
    }

    .icon {
        font-size: rem-calc(16);
    }
}

.dropdown-menu .form-holder {
    margin: 0 0 rem-calc(13);
    padding: 0 20px;

    @include media-breakpoint-up(xl) {
        margin-bottom: rem-calc(21);
    }
}

.scrollable-area {
    overflow-y: auto;
    height: calc(100vh - 220px);
    height: calc(var(--vh, 1vh)*100 - 220px);

    @include media-breakpoint-up(lg) {
        height: calc(100vh - 220px);
        height: calc(var(--vh, 1vh)*100 - 220px);
    }

    .scrollable-area {
        height: calc(100vh - 190px);
        height: calc(var(--vh, 1vh)*100 - 190px);

        @include media-breakpoint-up(lg) {
            height: calc(100vh - 170px);
            height: calc(var(--vh, 1vh)*100 - 170px);
        }
    }
}

.navbar-toggler-icon,
.offcanvas-header .btn-close,
.nav-icons .nav-link {
    @include size($nav-icon-size);

    @include media-breakpoint-down(sph) {
        @include size(9vw);
    }

    @include media-breakpoint-up(xl) {
        @include size($nav-icon-size-lg);
    }
}

.navbar-toggler,
.offcanvas-header .btn-close {
    &:focus,
    &:hover {
        box-shadow: $input-btn-focus-box-shadow;
    }
}

.navbar-toggler,
.offcanvas-nav .offcanvas-header .btn-close {
    margin: 0 12px 0 0;

    @include media-breakpoint-up(lg) {
        margin-right: 10px;
    }
}

.navbar-toggler {
    height: auto;
    padding: 0;
}

.navbar-toggler-icon {
    background-image: none;
    position: relative;

    &:before,
    &:after,
    span {
        @include center-h;
        @include size(15px, 2px);
        background: $gray-900;
        border-radius: 2px;

        @include media-breakpoint-down(sph) {
            transform: translate(-50%, -50%);
        }

        @include media-breakpoint-up(xl) {
            width: 16px;
        }
    }

    &:before,
    &:after {
        content: '';
    }

    span {
        top: 18px;

        @include media-breakpoint-down(sph) {
            top: 50%;
        }

        @include media-breakpoint-up(xl) {
            top: 21px;
        }
    }

    &:before {
        top: 14px;

        @include media-breakpoint-down(sph) {
            top: 50%;
            margin-top: -4px;
        }

        @include media-breakpoint-up(xl) {
            top: 16px;
        }
    }

    &:after {
        top: 22px;

        @include media-breakpoint-down(sph) {
            top: 50%;
            margin-top: 4px;
        }

        @include media-breakpoint-up(xl) {
            top: 26px;
        }
    }
}



