//- -var bodyClass = ''
-var wrapClass = 'bg-light'
-var badgeNavActive = true
-var navbarShort = true

include ./pug/common/_head
	block content
		include ./pug/common/_header

		main#main
			-var itemsBreadcrumbs = ['Home']
			-var itemLastBreadcrumbs = 'My account'
			include ./pug/templates/_breadcrumbs

			include ./pug/sections/_account

		include ./pug/common/_footer