//- -var bodyClass = ''
-var wrapClass = 'bg-light'
-var badgeNavActive = true
-var navbarShort = true

include ./pug/common/_head
	block content
		include ./pug/common/_header

		main#main
			-var itemsBreadcrumbs = ['Home', 'My account']
			-var itemLastBreadcrumbs = 'Address Book'
			include ./pug/templates/_breadcrumbs

			include ./pug/sections/_address_book

		include ./pug/common/_footer