//- -var bodyClass = ''
-var wrapClass = ''
-var badgeNavActive = false
-var navbarShort = true

include ./pug/common/_head
	block content
		include ./pug/common/_header

		main#main
			.container
				.row.mb-5
					.col-6.col-lg-3
						+cardProduct({
							addClassCard: 'shadow-none',
							addImgClass: '',
							imgName: 'img-card_product-01',
							imgWidth: '275',
							imgHeight: '275',
							favorite: true,
							addClassFavorite: 'favorite-link',
							iconFavoriteName: 'heart',
							iconFavoriteID: '01',
							addBadgeClass: 'badge-product bg-warning text-dark',
							badge: 'New IN',
							title: 'Mitre 12 Ball Sack',
							price: '£24.00',
							oldPrice: '£26.00',
							qtyReviews: '(45)',
							rating: true,
							addRatingClass: '',
							currentRating: '4'
						})
					.col-6.col-lg-3
						+cardProduct({
							addClassCard: 'shadow-none',
							addImgClass: '',
							imgName: 'img-card_product-02',
							imgWidth: '275',
							imgHeight: '275',
							favorite: true,
							addClassFavorite: 'favorite-link',
							iconFavoriteName: 'heart',
							iconFavoriteID: '02',
							addBadgeClass: 'badge-product bg-warning text-dark',
							addFavoriteLink: 'selected',
							title: 'Mitre 12 Ball Sack',
							price: '£24.00',
							qtyReviews: '(45)',
							rating: true,
							addRatingClass: '',
							currentRating: '5'
						})
