//- -var bodyClass = ''
-var wrapClass = ''
-var badgeNavActive = true
-var navbarShort = true

include ./pug/common/_head
	block content
		include ./pug/common/_header

		main#main
			-var itemsBreadcrumbs = ['Home', 'Sports', 'Football']
			-var itemLastBreadcrumbs = 'Football Clothing'
			include ./pug/templates/_breadcrumbs

			include ./pug/sections/_product_main

			include ./pug/sections/_alternatives

			include ./pug/sections/_looking_at

			include ./pug/components/_offcanvas_add_cart

		include ./pug/common/_footer