//- -var bodyClass = ''
-var wrapClass = 'bg-light'
-var badgeNavActive = true
-var navbarShort = true

include ./pug/common/_head
	block content
		include ./pug/common/_header

		main#main
			-var itemsBreadcrumbs = ['Home', 'My Account', 'Order 129823-1349349']
			-var itemLastBreadcrumbs = 'Confirm Return order'
			include ./pug/templates/_breadcrumbs

			include ./pug/sections/_return_order_confirm

		include ./pug/common/_footer