// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  a {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

h1,
.h1 {
  line-height: calc(39.6 / 36);
  letter-spacing: -.01em;
  margin-bottom: calc(33 / 36 * 1em);

  @include media-breakpoint-down(sm) {
    font-size: rem-calc(36);
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: calc(34 / 50 * 1em);
  }
}

h2,
.h2 {
  line-height: calc(37 / 30);
}

h3,
.h3 {
  // line-height: calc( / );

  &.title-section {
    font-size: rem-calc(28);

    @include media-breakpoint-down(sph) {
      font-size: rem-calc(24);
    }
  }
}

// h4,
// .h4 {
//   line-height: calc( / );
// }

h5,
.h5 {
  line-height: calc(24 / 20);
  margin-bottom: calc(8 / 20 * 1em);
}

h6,
.h6 {
  line-height: calc(20 / 16);
}

.title-section {
  margin-bottom: calc(13 / 28 * 1em);

  .card-large & {
    margin-bottom: 2px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 5px;
    }
  }
}

p {
  margin: 0 0 calc(24 / 16 * 1em);
}

a {
  @include animate(color background-color border opacity box-shadow padding, $animation-speed, linear);
}

a[href*="mailto:"] {
  word-wrap: break-word;
}

